{% for product in product_list %}
  <div class="ug-product-item" style="background: {{ bg_color | default: '#fff' }}">
    <div class="ug-product-box">
      <a href="{{ product.url }}">
        <div class="ug-product-img">
          <img src="{{ product.featured_media | img_url: "400x" }}" alt="{{ product.title }}" loading="lazy">
        </div>
      </a>
      <div class="ug-product-info">
        <a href="{{ product.url }}">
          <div class="ug-product-title">
            {{ product.title }}
          </div>
        </a>
        <div class="ug-product-price-review">
          {% assign compare_at_price = product.compare_at_price %}
          {% assign price = product.price %}
          {% assign showDiscountBar = compare_at_price | minus: price %}

          {% if showDiscountBar > 1 %}
            <p class="ug-product-price font-lato">
              {{ product.price | money }}
              <span class="ug-product-compare_at_price">{{ product.compare_at_price | money }}</span>
            </p>
          {% else %}
            <p class="ug-product-price font-lato">{{ product.price | money }}</p>
          {% endif %}
          {% if show_rating %}
            <div class="ug-product-review">
              {%- render 'product-rating', product: product, app_review: '4' -%}
            </div>
          {% endif %}
        </div>
        {% assign discountbar = product.metafields.custom.discountbar.value %}
        {% assign discount_code = discountbar[1] %}
        {% if show_code and discount_code%}

          <div class="ug_product_code">
            <p>Code: {{ discount_code }} </p>
            <button data-ug-copy-data="{{ discount_code }}" class="copy-btn">Copy</button>
          </div>
        {% endif %}
        <div class="ug-product-buy">
          {% assign amz_url = product.metafields.custom.amazon_url %}
          <a
                  href="{{ product.url }}"
                  class="t4s-pr-item-btn t4s-pr-addtocart buy_now ug-product-buy-btn"
                  data-variant-id="{{ product.variants.first.id }}"
                  data-action-atc
                  rel="nofollow"
          >Buy Now</a
          >
          {% if page.url contains 'autumn-harvest-access-sale' %}
            <a href="{{ amz_url }}" class="ug-product-learn-btn" target="_blank">Amazon</a>
          {% endif %}
          {% if show_learn_btn %}
            <a href="{{ product.url }}" class="ug-product-learn-btn">Learn more</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% if showDiscountBar > 1 and show_sale_flag %}
      <div class="ug-product-sale">
        <span class="ug-product-sale-text">
          {{ compare_at_price | minus: price | times: 100 | divided_by: compare_at_price | prepend: '-' -}}
          <span
                  class="ug-product-sale-text-percent"
          >%</span
          >
        </span>
        <div class="ug-product-sale-flag">
          <img src="{{ sale_flag }}" alt="flag">
        </div>
      </div>
    {% endif %}
  </div>
{% endfor %}
