<!doctype html>
{%- liquid
  if settings.use_rtl == '1'
    assign isRTL = true
  elsif settings.use_rtl == '2' and settings.list_rtl contains request.locale.iso_code
    assign isRTL = true
  else
    assign isRTL = false
  endif
  assign body_img = settings.body_bg_image
  if body_img != blank and settings.general_layout == 'boxed'
    assign class_lazy = 'lazyloadt4s'
  endif -%}
{%- capture class_html -%}
t4sp-theme t4s-wrapper__{{settings.general_layout}} rtl_{{isRTL}} swatch_color_style_{{settings.swatch_color_style}} pr_border_style_{{settings.pr_border_style}} pr_img_effect_{{settings.pr_img_effect}} enable_eff_img1_{{settings.enable_eff_img1}} badge_shape_{{settings.badge_shape}} css_for_wis_app_{{settings.enable_css_wis}}{% if settings.use_cus_lz and settings.cus_lz %} t4s-lzcus-true{% endif %} shadow_round_img_{{settings.enable_shadow_round_img}} t4s-header__{{settings.header_design}} is-remove-unavai-{{settings.variant_remove}} t4_compare_{{settings.enable_compe}} is-catalog__mode-{{settings.catalog_mode}}
{%- endcapture -%}
<html class="{{class_html}} no-js" lang="{{ request.locale.iso_code }}"{% if isRTL %} dir="rtl"{% endif %}>
  <head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MPWLL45');</script>
<!-- End Google Tag Manager -->

    
    <!--   ip 跳转前置判断 -->
  {{shop.metafields.CCR.shopat_script}} 
    <meta name="facebook-domain-verification" content="26do7lxt0zgmvthg0s8lf2tcflqhi8" />
<!-- zbanx header config start -->
<script type="text/javascript">
!function(e){"function"==typeof define&&define.amd?define(e):e()}(function(){"use strict";function t(t,e){var n,r=Object.keys(t);return Object.getOwnPropertySymbols&&(n=Object.getOwnPropertySymbols(t),e&&(n=n.filter(function(e){return Object.getOwnPropertyDescriptor(t,e).enumerable})),r.push.apply(r,n)),r}function e(r){for(var e=1;e<arguments.length;e++){var o=null!=arguments[e]?arguments[e]:{};e%2?t(Object(o),!0).forEach(function(e){var t,n;t=r,e=o[n=e],n in t?Object.defineProperty(t,n,{value:e,enumerable:!0,configurable:!0,writable:!0}):t[n]=e}):Object.getOwnPropertyDescriptors?Object.defineProperties(r,Object.getOwnPropertyDescriptors(o)):t(Object(o)).forEach(function(e){Object.defineProperty(r,e,Object.getOwnPropertyDescriptor(o,e))})}return r}function o(e,t){for(var n=0;n<t.length;n++){var r=t[n];r.enumerable=r.enumerable||!1,r.configurable=!0,"value"in r&&(r.writable=!0),Object.defineProperty(e,r.key,r)}}var n=new(function(){function t(e){!function(e,t){if(!(e instanceof t))throw new TypeError("Cannot call a class as a function")}(this,t),this.props=e||{},this.source=this.props.source||window.localStorage,this.initRun()}var e,n,r;return e=t,(n=[{key:"initRun",value:function(){var r=this,o=new RegExp("__expires__"),i=this.source,e=Object.keys(i);0<e.length&&e.map(function(e,t){var n;return o.test(e)||(n=Date.now(),(i["".concat(e,"__expires__")]||Date.now()+1)<=n&&r.remove(e)),e})}},{key:"set",value:function(e,t,n){var r=this.source;return r[e]=JSON.stringify(t),n&&(r["".concat(e,"__expires__")]=Date.now()+6e4*n),t}},{key:"get",value:function(e){var t=this.source,n=Date.now();if((t["".concat(e,"__expires__")]||Date.now()+1)<=n)return this.remove(e),null;n=null;try{n=t[e]&&JSON.parse(t[e])}catch(e){}return n}},{key:"remove",value:function(e){var t=this.source,n=t[e];return delete t[e],delete t["".concat(e,"__expires__")],n}}])&&o(e.prototype,n),r&&o(e,r),t}());function c(e){for(var t=1;t<arguments.length;t++){var n,r=arguments[t];for(n in r)e[n]=r[n]}return e}var r=function t(a,i){function n(e,t,n){if("undefined"!=typeof document){"number"==typeof(n=c({},i,n)).expires&&(n.expires=new Date(Date.now()+864e5*n.expires)),n.expires&&(n.expires=n.expires.toUTCString()),e=encodeURIComponent(e).replace(/%(2[346B]|5E|60|7C)/g,decodeURIComponent).replace(/[()]/g,escape);var r,o="";for(r in n)n[r]&&(o+="; "+r,!0!==n[r]&&(o+="="+n[r].split(";")[0]));return document.cookie=e+"="+a.write(t,e)+o}}return Object.create({set:n,get:function(e){if("undefined"!=typeof document&&(!arguments.length||e)){for(var t=document.cookie?document.cookie.split("; "):[],n={},r=0;r<t.length;r++){var o=t[r].split("="),i=o.slice(1).join("=");try{var c=decodeURIComponent(o[0]);if(n[c]=a.read(i,c),e===c)break}catch(e){}}return e?n[e]:n}},remove:function(e,t){n(e,"",c({},t,{expires:-1}))},withAttributes:function(e){return t(this.converter,c({},this.attributes,e))},withConverter:function(e){return t(c({},this.converter,e),this.attributes)}},{attributes:{value:Object.freeze(i)},converter:{value:Object.freeze(a)}})}({read:function(e){return(e='"'===e[0]?e.slice(1,-1):e).replace(/(%[\dA-F]{2})+/gi,decodeURIComponent)},write:function(e){return encodeURIComponent(e).replace(/%(2[346BF]|3[AC-F]|40|5[BDE]|60|7[BCD])/g,decodeURIComponent)}},{path:"/"}),i=60,a=1440*i,u="zbanx_",s="track_code",p="pid",f="landing_uri",l=function(){var e="zbx_test_".concat(Math.random()),t=new RegExp("(^|;)\\s*".concat(e,"=zbx_test_value")),n=new Date(0),r=document.domain,o=r.split("."),i=[];for(i.unshift(o.pop());o.length;){i.unshift(o.pop());var c=i.join("."),a="".concat(e,"=zbx_test_value;domain=.").concat(c);if(document.cookie=a,t.test(document.cookie)){document.cookie="".concat(a,";expires=").concat(n),r=c;break}}return r}();function d(e){e=new RegExp("(^|&)".concat(e,"=([^&]*)(&|$)")),e=location.search.substr(1).match(e);return null!==e?e[2]:null}function h(e){return r.get(e=u+e)||n.get(e)}function v(e,t){r.set(e=u+e,t,{expires:i,domain:l}),n.set(e,t,a)}function b(){d("z_code")&&(v(s,d("z_code")||h(s)),v(p,d("z_pid")||h(p)),v(f,location.href))}!function(e){e.shop;var t=e.trackUrl,n=e.expires;(e=t).lastIndexOf("/"),e.length,a=n,b()}(e(e({},{shop:"{{ shop.permanent_domain }}",trackUrl:"https://api.zbanx.com/",version:"2.1.1"}),{},{expires:86400}))});
</script>
<!-- zbanx header config end -->
<!-- 联盟营销 -->
<meta name="verify-admitad" content="bdb082d81a" />
  <meta name="google-site-verification" content="1XnpvVTOjBu_C-f_wlbS0eXjoHqr91T5_MfgEIm-D3w" />{% render 'pagefly-head' %}
  <meta name="google-site-verification" content="w6O5BXItYzw5kdMBVeUzNYIJ8BvT6DiYBTnwMiTxmvo" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.body_bg }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank %}<link rel="shortcut icon" type="image/png" href="{{ settings.favicon | image_url: width:32 }}">{% endif -%}
    {%- if settings.favicon_apple != blank %}<link rel="apple-touch-icon-precomposed" type="image/png" sizes="152x152" href="{{ settings.favicon_apple | image_url: width:152 }}">{% endif -%}

    {%- if settings.font_source == '1' and settings.fnt_fm_sp1.system? == false or settings.fnt_fm_sp2.system? == false or settings.fnt_fm_sp3.system? == false -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endif -%}

    {%- capture seo_title -%}
      {%- if template == 'search' and search.performed == true -%}{{ 'search.general.heading' | t: count: search.results_count }}: {{ 'search.results_with_count_and_term' | t: terms: search.terms, count: search.results_count }}{%- elsif template == 'search.wishlist' %}{{ 'wishlist_page.meta' | t }}{%- elsif template == 'search.compare' %}{{ 'compare_page.meta' | t }}{%- else -%}{{ page_title }}{%- endif -%}
      {%- if current_tags -%}{%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}{%- endif -%}
      {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name %} &ndash; {{ shop.name }}{%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>
    <meta name="description" content="{{ page_description | default:shop.description | default: shop.name | escape }}">

    {%- liquid
      assign t_name = request.page_type
      assign body_img = settings.body_bg_image
      render 'meta-tags',t_name:t_name -%}

    {% comment %}ug-custom{% endcomment %}
    <meta name="msvalidate.01" content="8C951A20A1CA87A31DD4746536CC0DC6" />
    <meta name="google-site-verification" content="lNo0b_U4wWcfYtXUosdmY7LPKRMId9bwNKm9nfxhvQo" />

    <!-- Hotjar Tracking Code for www.ugreen.com -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2346546,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/ijX8lsdGgaVTP7Z9LkSOYw" async></script>

    <script>
      !function (w, d, t) {
        w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};var o=document.createElement("script");o.type="text/javascript",o.async=!0,o.src=i+"?sdkid="+e+"&lib="+t;var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(o,a)};

        ttq.load('C52POC800UN7QUNF0GJG');
        ttq.page();
      }(window, document, 'ttq');
    </script>

    <!-- Global site tag (gtag.js) - Google Ads: 848201361 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-848201361"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-848201361');
    </script>

    <script>
      window['_fs_debug'] = false;
      window['_fs_host'] = 'fullstory.com';
      window['_fs_script'] = 'edge.fullstory.com/s/fs.js';
      window['_fs_org'] = 'o-1BBA03-na1';
      window['_fs_namespace'] = 'FS';
      (function(m,n,e,t,l,o,g,y){
        if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
        g=m[e]=function(a,b,s){g.q?g.q.push([a,b,s]):g._api(a,b,s);};g.q=[];
        o=n.createElement(t);o.async=1;o.crossOrigin='anonymous';o.src='https://'+_fs_script;
        y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
        g.identify=function(i,v,s){g(l,{uid:i},s);if(v)g(l,v,s)};g.setUserVars=function(v,s){g(l,v,s)};g.event=function(i,v,s){g('event',{n:i,p:v},s)};
        g.anonymize=function(){g.identify(!!0)};
        g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
        g.log = function(a,b){g("log",[a,b])};
        g.consent=function(a){g("consent",!arguments.length||a)};
        g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
        g.clearUserCookie=function(){};
        g.setVars=function(n, p){g('setVars',[n,p]);};
        g._w={};y='XMLHttpRequest';g._w[y]=m[y];y='fetch';g._w[y]=m[y];
        if(m[y])m[y]=function(){return g._w[y].apply(this,arguments)};
        g._v="1.3.0";
      })(window,document,window['_fs_namespace'],'script','user');
    </script>

    <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
    <script src="{{ 'global.min.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}
{% render 'usf' %}

    {%- render 'head_assets',t_name:t_name,isRTL:isRTL -%}
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/ijX8lsdGgaVTP7Z9LkSOYw" async></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
    {% comment %} iconfont 的 js {% endcomment %}
    <script src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/iconfont.js?v=1676862777" async></script>
    {{ 'theme-new.css' | asset_url | stylesheet_tag }}
    {{ 'theme-new.js' | asset_url | script_tag }}
    {% comment %}ug-custom{% endcomment %}

  
	{{ shop.metafields.loox["global_html_head"] }}
{% include 'upsellio' %}{% capture boostersnippet %}{% include "booster-apps-common" %}{% endcapture %}{% unless boostersnippet contains "Liquid error" %}{{ boostersnippet }}{% endunless %}
 {% include 'eu-cookie-richtlinie-css' %}
    <!--     bing 广告代码插入 -->
   <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"343006776"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
   
  {% include 'hulk_po_vd.liquid' %}  {% if template == 'cart' %}{% include "revy-bundle-script" %}{% endif %}
</head>
<body class="template-{{ request.page_type | handle }} {{class_lazy}}"{% if body_img != blank %} data-bgset="{{ body_img | image_url: width: 1 }}" data-optimumx="1.5" data-sizes="auto"{% endif -%}>
    <a class="skip-to-content-link visually-hidden" href="#MainContent">{{ "accessibility.skip_to_text" | t }}</a>
    <div class="t4s-close-overlay t4s-op-0"></div>

    <div class="t4s-website-wrapper">
      {%- render 'header',t_name:t_name -%}

      <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
        {{ content_for_layout }}
      </main>

      {%- liquid
      echo '<footer id="t4s-footer">'
      section 'footer'
      section 'bottom-bar'
      echo '</footer>' -%}
    </div>

      <ul hidden class="t4s-d-none">
        <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      </ul>
    {%- render 'render_bottom' -%}
  {% include 'social-login' %}
  
	{{ shop.metafields.loox["global_html_body"] }}
<!-- CRITEO START -->
{% render 'criteo-tracking' %}
<!-- CRITEO END -->




    {% include 'eu-cookie-richtlinie-block' %}
 {% include 'smile-initializer' %}


<!-- **BEGIN** Hextom CTB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_ctb_main', product: product, customer: customer %}
    <!-- **END** Hextom CTB Integration // Main Include - DO NOT MODIFY -->
  {% include 'revy-bundle-script' %}
{% render 'amai_stp-theme-snippet' %}
{% render 'amai_stp-cart-snippet' %}
{% render 'amai_stp-product-snippet' %}
{% render 'quantity-breaks-now', customer: customer, template: template, product: product, cart: cart %}
        








{% include 'gtranslate', float: 'yes' %}
{% render 'enimoh' %} 

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MPWLL45"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
   
</body>
</html>
