{% liquid
    assign st = section.settings
    assign padding_pc = st.padding_pc
    assign padding_mobile = st.padding_mobile
    assign step_width = "16"
    assign unActiveName = ".step2_circle,.step3_circle"
    if st.step_type == "2"
        assign step_width = "50"
        assign unActiveName = ".step3_circle"
        elsif st.step_type == "3"
        assign step_width = "86"
        assign unActiveName = ""
        endif
%}
<style>
    .black_friday_step h2 {
        color: #fff;
        font-size: min(1.875vw, 36px);
        text-align: center;
        font-weight: 700;
        position: relative;
        display: inline-block;
        margin: 0 auto min(6.25vw, 120px);
    }
    .black_friday_step h2:before {
        content: "";
        background: url("https://cdn.shopify.com/s/files/1/0257/5246/9566/files/lightning_left.png?v=1698218620") no-repeat center;
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translate(-100%, -50%);
        width: 2.8125vw;
        height: 2.8125vw;
        background-size: auto 100%;
    }
    .black_friday_step h2:after {
        content: "";
        background: url("https://cdn.shopify.com/s/files/1/0257/5246/9566/files/lightning_left.png?v=1698218620") no-repeat center;
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translate(100%, -50%) scaleX(-1);
        width: 2.8125vw;
        height: 2.8125vw;
        background-size: auto 100%;
    }
    .black_friday_step {
        max-width: 1280px;
        margin: 0 auto;
        padding: {{ padding_pc }};
        text-align: center;
    }
    .black_friday_step_content {
        height: min(7.8125vw, 150px);
    }
    .black_friday_step .step_line {
        width: 100%;
        height: 0.42vw;
        border-radius: 10px;
        background: #484848;
        position: relative;
    }
    .black_friday_step .step_line::after {
        content: "";
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 10px;
        background: #F8E5BC;
        width: {{ step_width }}%;
    }
    .black_friday_step .step_circle {
        position: absolute;
        width:min(1.46vw, 28px);
        height: min(1.46vw, 28px);
        border-radius: 50%;
        background: linear-gradient(180deg, #E5B854 -11.11%, #FFDE94 22.7%, #FFDF98 54.73%, #D9A748 91.79%, #E7B456 102.78%);
        box-shadow: 0 0 0 6px #141416;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        z-index: 10;
    }
    {{ unActiveName }} {
        background: #484848 !important;
    }
    .black_friday_step .step_circle .step_info {
        position: absolute;
        top: -3.125vw;
        width: min(18.7vw, 350px);
        text-align: center;
        transform: translateX(-50%);
        left: min(0.73vw, 14px);
    }
    .black_friday_step .step_circle .step_info .step_time {
        font-size: min(1vw, 20px);
        margin-bottom: 4vw;
    }
    .black_friday_step .step_circle .step_info .step_icon {
        width: min(3.33vw, 64px);
        margin: 0 auto;
    }
    .black_friday_step .step_circle .step_info .step_icon svg {
        width: 100%;
        height: auto;
    }
    .black_friday_step .step_circle .step_info .step_text {
        font-size: min(1.46vw, 28px);

    }
    .step1_circle {
        left: 16%;
    }
    .step2_circle {
        left: 50%;
    }
    .step3_circle {
        left: 84%;
    }
    @media (max-width: 768px) {
        .black_friday_step {
            max-width: 100%;
            margin: 0 auto;
            padding: {{ padding_mobile }};
        }
        .black_friday_step h2 {
            font-size: 24px;
            padding: 0 20px;
            max-width: 80%;
            margin: 0 auto 32px;
        }
        .black_friday_step h2:before {
            left: 20px;
            width: 32px;
            height: 42px;
        }
        .black_friday_step h2:after {
            right: 20px;
            width: 32px;
            height: 42px;
        }
        .black_friday_step .step_line {
            transform: rotateZ(90deg) translate(200px, 90px);
            height: 4px;
        }
        .black_friday_step_content {
            height: 100vw;
        }
        .black_friday_step .step_circle{
            width: 16px;
            height: 16px;
        }
        .black_friday_step .step_circle .step_info {
            transform: rotateZ(180deg) translateX(50%);
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            top: -188px;
        }
        .black_friday_step .step_circle .step_info .step_time {
            font-size: 14px;
            transform: rotateZ(90deg);
            width: 90px;
            margin-bottom: 50px;
        }
        .black_friday_step .step_circle .step_info .step_icon {
            transform: rotateZ(90deg);
            width: 42px;
            margin: 0 auto;
        }
        .black_friday_step .step_circle .step_info .step_text {
            transform: rotateZ(90deg);
            width: 180px;
            font-size: 16px;
            text-align: left;
            margin-top: 70px;
        }
    }
</style>
{% liquid
    assign st = section.settings
    assign pc_image = st.pc_image
    assign mobile_image = st.mobile_image
    assign title = st.title
    assign subtitle = st.subtitle
    assign time = st.time
    assign is_pre = st.is_pre
    assign email_tips = st.email_tips
    assign email_btn_text = st.email_btn_text
%}
<section class="black_friday_step">
    <h2>{{ title }}</h2>
    {% if subtitle != blank %}
        <h3>{{ subtitle }}</h3>
    {% endif %}
    <div class="black_friday_step_content">
        <div class="step_line">
            <div class="step1_circle step_circle">
                <div class="step_info">
                    <div class="step_time">{{ st.step1_time }}</div>
                    <div class="step_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
                            <g clip-path="url(#clip0_86_24600)">
                                <path d="M51.8639 56.8828L2.23489 42.8275C0.595393 42.3664 -0.343902 40.6586 0.117206 39.0362L8.55379 9.23489C9.0149 7.59539 10.7227 6.6561 12.3622 7.11721L61.9741 21.1725C63.6136 21.6336 64.5529 23.3414 64.0918 24.9638L55.6552 54.7651C55.1941 56.4046 53.4863 57.3439 51.8639 56.8828Z"
                                      fill="#FFD968"/>
                                <path d="M57.8071 51.1104H6.23128C4.54055 51.1104 3.15723 49.7271 3.15723 48.0363V17.0567C3.15723 15.3659 4.54055 13.9826 6.23128 13.9826H57.8071C59.4979 13.9826 60.8812 15.3659 60.8812 17.0567V48.0193C60.8812 49.7271 59.515 51.1104 57.8071 51.1104Z"
                                      fill="#90B3F8"/>
                                <path d="M57.7383 51.1104H6.16244C4.4717 51.1104 3.08838 49.7271 3.08838 48.0363V17.0567C3.08838 15.3659 4.4717 13.9826 6.16244 13.9826H57.7383C59.429 13.9826 60.8124 15.3659 60.8124 17.0567V48.0193C60.8124 49.7271 59.429 51.1104 57.7383 51.1104Z"
                                      fill="#00CC88"/>
                                <path opacity="0.5"
                                      d="M57.8071 48.9244H6.23128C4.54055 48.9244 3.15723 47.5411 3.15723 45.8503V48.0363C3.15723 49.7271 4.54055 51.1104 6.23128 51.1104H57.8071C59.4979 51.1104 60.8812 49.7271 60.8812 48.0363V45.8503C60.8812 47.5581 59.515 48.9244 57.8071 48.9244Z"
                                      fill="#03AB73"/>
                                <path d="M29.4061 41.3759C28.962 41.3759 28.5863 41.0343 28.5522 40.5732C28.3301 37.0893 26.8785 34.186 24.2314 31.9317C22.2162 30.2239 20.218 29.5578 20.201 29.5407C20.1839 29.5407 20.1839 29.5407 20.1668 29.5237C20.1497 29.5066 20.1156 29.5066 20.0985 29.4895C19.6715 29.2846 19.4837 28.7722 19.6886 28.3453C20.0985 27.4914 23.8044 19.9087 27.8007 19.4988C28.6888 19.4134 29.9867 19.6184 31.1822 21.1896C32.2581 22.59 32.1215 23.7683 31.8141 24.5198C30.7894 27.0132 26.1954 28.4136 23.1896 29.0796C23.8386 29.4554 24.5559 29.9506 25.2732 30.5654C27.3738 32.3245 29.9526 35.4839 30.26 40.4536C30.2941 40.9318 29.9355 41.3246 29.4573 41.3588C29.4402 41.3759 29.4231 41.3759 29.4061 41.3759ZM28.1764 21.2066C28.091 21.2066 28.0398 21.2066 27.9886 21.2237C26.0588 21.4286 23.5824 24.8101 22.0283 27.6109C25.3586 26.9449 29.5427 25.5957 30.2429 23.8879C30.3624 23.5805 30.4649 23.0681 29.833 22.2484C29.1328 21.3433 28.518 21.2066 28.1764 21.2066Z"
                                      fill="white"/>
                                <path d="M11.5252 41.3759C11.5082 41.3759 11.4911 41.3759 11.474 41.3759C10.9958 41.3417 10.6372 40.9489 10.6713 40.4707C10.9787 35.501 13.5575 32.3416 15.6581 30.5825C16.3925 29.9677 17.1098 29.4895 17.7417 29.0967C14.7359 28.4307 10.1419 27.0303 9.11723 24.5369C8.80983 23.8025 8.6732 22.607 9.74912 21.2066C10.9446 19.6355 12.2425 19.4305 13.1306 19.5159C17.1269 19.9258 20.8328 27.5085 21.2427 28.3624C21.3281 28.5331 21.3452 28.7381 21.311 28.9089C21.2939 28.9772 21.2768 29.0284 21.2427 29.0796C21.1915 29.1992 21.1061 29.3187 20.9865 29.4041C20.9182 29.4554 20.8328 29.5066 20.7303 29.5408C20.7133 29.5408 18.7151 30.2239 16.6999 31.9317C14.0528 34.186 12.5841 37.0893 12.3792 40.5732C12.3621 41.0343 11.9864 41.3759 11.5252 41.3759ZM12.7719 21.2066C12.4304 21.2066 11.8156 21.3262 11.1154 22.2484C10.4835 23.0682 10.5859 23.5805 10.7055 23.8879C11.4057 25.5957 15.6069 26.9449 18.9201 27.6109C17.366 24.8101 14.8896 21.4287 12.9598 21.2237C12.9086 21.2237 12.8403 21.2066 12.7719 21.2066Z"
                                      fill="white"/>
                                <path d="M60.8807 28.2599H3.08838V29.9677H60.8807V28.2599Z" fill="white"/>
                                <path d="M21.0721 13.9826H19.3643V51.0933H21.0721V13.9826Z" fill="white"/>
                                <path d="M36.6131 13.9826H7.20459L7.90479 11.5404H27.9545L36.6131 13.9826Z" fill="#FAB400"/>
                                <path d="M55.9968 53.5526H40.0971L31.4556 51.1104H56.697L55.9968 53.5526Z" fill="#FAB400"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_86_24600">
                                    <rect width="64" height="64" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="step_text">{{ st.step2_text }}</div>
                </div>
            </div>
            <div class="step2_circle step_circle">
                <div class="step_info">
                    <div class="step_time">{{ st.step2_time }}</div>
                    <div class="step_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="66" height="60" viewBox="0 0 66 60" fill="none">
                            <g clip-path="url(#clip0_86_24572)">
                                <path d="M55.9892 60H9.81545C7.98551 60 6.48828 58.5028 6.48828 56.6728V28.9094C6.48828 27.6525 7.19068 26.5065 8.31823 25.9335L32.9023 13.586L57.4864 25.9335C58.614 26.5065 59.3164 27.6525 59.3164 28.9094V56.6728C59.3164 58.5028 57.8376 60 55.9892 60Z" fill="#00CC88"/>
                                <path d="M54.1778 10.3882H11.627V43.2163H54.1778V10.3882Z" fill="#EEF5FF"/>
                                <path d="M52.9024 7.31977C52.7545 7.31977 52.6067 7.2828 52.4588 7.20887C52.0152 6.96857 51.8488 6.41404 52.0891 5.95194L55.0281 0.480586C55.2684 0.0369635 55.8229 -0.129395 56.285 0.110901C56.7287 0.351196 56.895 0.905725 56.6547 1.36783L53.7342 6.83918C53.5494 7.13493 53.2351 7.31977 52.9024 7.31977Z" fill="#F6EE6D"/>
                                <path d="M58.9837 14.0111C58.6879 14.0111 58.3922 13.8632 58.2258 13.6044C57.9486 13.1793 58.041 12.6063 58.4661 12.329L64.4735 8.26248C64.8987 7.98521 65.4717 8.07763 65.7489 8.50277C66.0262 8.92791 65.9338 9.50092 65.5086 9.77819L59.5013 13.8447C59.3349 13.9741 59.1501 14.0111 58.9837 14.0111Z" fill="#F6EE6D"/>
                                <path d="M13.0132 7.43067C12.6805 7.43067 12.3663 7.24583 12.1999 6.95008L9.24242 1.47873C9.00212 1.03511 9.16848 0.462097 9.6121 0.221802C10.0557 -0.0184941 10.6287 0.147864 10.869 0.591487L13.808 6.06284C14.0483 6.50646 13.882 7.07947 13.4383 7.31977C13.309 7.39371 13.1611 7.43067 13.0132 7.43067Z" fill="#F6EE6D"/>
                                <path d="M6.9318 14.1405C6.74696 14.1405 6.5806 14.085 6.41424 13.9741L0.406846 9.90757C-0.0182925 9.63031 -0.129198 9.03881 0.16655 8.63216C0.443815 8.20702 1.03531 8.09611 1.44197 8.39186L7.44936 12.4584C7.8745 12.7357 7.9854 13.3272 7.68966 13.7338C7.5233 13.9926 7.22755 14.1405 6.9318 14.1405Z" fill="#F6EE6D"/>
                                <path d="M18.5215 38.0776C18.5215 38.0776 25.5086 41.9409 30.943 39.6118C30.943 39.6118 32.4217 38.4843 36.3774 39.4085C36.3774 39.4085 45.3607 41.3863 54.1777 28.3734V43.1793H11.8672L18.5215 38.0776Z" fill="#DFE7F6"/>
                                <path d="M54.1777 34.159L59.3164 31.2015V28.9094C59.3164 28.5582 59.2609 28.2255 59.1685 27.9113L54.1962 30.9242V34.159H54.1777Z" fill="#03AB73"/>
                                <path d="M11.6269 34.159L6.48828 31.2015V28.9094C6.48828 28.5582 6.54373 28.2255 6.63616 27.9113L11.6084 30.9242V34.159H11.6269Z" fill="#03AB73"/>
                                <path d="M38.6509 43.1238L59.3163 56.8577C59.3163 56.8022 59.3163 56.7468 59.3163 56.6728V31.183L38.6509 43.1238Z" fill="#00CC88"/>
                                <path d="M27.1723 43.1238L6.50684 56.8577C6.50684 56.8022 6.50684 56.7468 6.50684 56.6728V31.183L27.1723 43.1238Z" fill="#00CC88"/>
                                <path d="M39.4087 42.6802L59.3163 51.9963V56.8577L38.6509 43.1238L39.4087 42.6802Z" fill="#03AB73"/>
                                <path d="M26.4144 42.6802L6.50684 51.9963V56.8577L27.1723 43.1238L26.4144 42.6802Z" fill="#03AB73"/>
                                <path d="M59.3164 56.8577L36.1926 41.4787C34.2148 40.1663 31.627 40.1663 29.6492 41.4787L6.50684 56.8577C6.59926 58.6137 8.04103 60 9.83401 60H56.0078C57.7638 60 59.224 58.6137 59.3164 56.8577Z" fill="#20DD9E"/>
                                <path d="M31.6265 16.4325C31.6265 15.6562 32.2549 15.0277 33.0313 15.0277C33.8076 15.0277 34.4361 15.6562 34.4361 16.4325C34.4361 16.5989 34.3067 16.7098 34.1588 16.7098H31.9222C31.7559 16.7098 31.6265 16.5989 31.6265 16.4325Z" fill="#FAB400"/>
                                <path d="M39.2051 23.3087C39.2051 23.3087 39.1866 21.146 39.1126 20.7948C38.7984 18.9094 37.5784 15.8595 33.0313 15.8595C27.3012 15.8595 26.9685 20.7763 26.9685 20.7763C26.9685 20.7763 26.876 22.4029 26.8576 23.0314C26.8391 23.6968 26.7651 24.695 26.6357 25.3235L27.486 26.451H38.5581L39.4084 25.3235C39.2975 24.695 39.2051 23.9741 39.2051 23.3087Z" fill="#FFD968"/>
                                <path d="M35.8409 30.3882C35.8409 31.9408 34.584 33.1978 33.0313 33.1978C31.4786 33.1978 30.2217 31.9408 30.2217 30.3882C30.2217 30.0739 30.462 29.8336 30.7762 29.8336H35.2679C35.6006 29.8336 35.8409 30.0739 35.8409 30.3882Z" fill="#FAB400"/>
                                <path d="M41.1089 29.2791H24.9536C25.8963 27.9482 26.3769 26.7098 26.6357 25.342H39.4083C39.6856 26.6913 40.1662 27.9482 41.1089 29.2791Z" fill="#FAB400"/>
                                <path d="M41.4603 29.8336C41.4603 30.4436 40.9612 30.9612 40.3327 30.9612H25.7486C25.1387 30.9612 24.6211 30.4621 24.6211 29.8336C24.6211 29.2052 25.1202 28.7061 25.7486 28.7061H40.3327C40.9427 28.7061 41.4603 29.2052 41.4603 29.8336Z" fill="#FFD968"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_86_24572">
                                    <rect width="65.915" height="60" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="step_text">{{ st.step2_text }}</div>
                </div>
            </div>
            <div class="step3_circle step_circle">
                <div class="step_info">
                    <div class="step_time">{{ st.step3_time }}</div>
                    <div class="step_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="65" height="60" viewBox="0 0 65 60" fill="none">
                            <g clip-path="url(#clip0_86_24553)">
                                <path d="M17.9546 31.9978V22.4557L2.34348 39.7865C1.21395 41.034 1.3151 42.9559 2.56264 44.0686L19.3707 59.2076C20.6183 60.3372 22.5402 60.236 23.6528 58.9885L47.963 31.9809H17.9546V31.9978Z" fill="#FFD968"/>
                                <path d="M51.3177 9.28912L38.5894 5.29361C37.5948 4.9733 36.4989 5.20932 35.7066 5.88367L1.06202 35.4875C-0.219238 36.5833 -0.354107 38.4883 0.724847 39.7696L15.4256 56.9654C16.5214 58.2467 18.4264 58.3816 19.7077 57.3026L54.3354 27.6988C55.1278 27.0244 55.5155 25.9792 55.3638 24.9508L53.3913 11.7505C53.2396 10.5872 52.4135 9.64315 51.3177 9.28912ZM49.0755 17.2127C47.828 18.2748 45.9566 18.1231 44.8946 16.8924C43.8325 15.6448 43.9842 13.7735 45.2149 12.7114C46.4624 11.6493 48.3337 11.8011 49.3958 13.0317C50.4579 14.2793 50.323 16.1506 49.0755 17.2127Z" fill="#00CC88"/>
                                <path d="M15.4258 56.9654C16.5216 58.2467 18.4266 58.3816 19.7079 57.3026L54.3356 27.6988C55.1279 27.0244 55.5157 25.9792 55.364 24.9508L55.1111 23.2312L15.4258 56.9654Z" fill="#03AF75"/>
                                <path d="M9.2216 12.2394L10.1151 10.3849C10.3174 9.98034 10.9243 10.0141 11.0592 10.4524L11.6661 12.408C11.6998 12.5429 11.801 12.6609 11.9358 12.7114L13.7734 13.605C14.178 13.8073 14.1443 14.4142 13.706 14.549L11.7335 15.1728C11.5987 15.2065 11.4807 15.3077 11.4301 15.4425L10.5366 17.2801C10.3343 17.6847 9.72736 17.651 9.59249 17.2127L8.98558 15.2571C8.95186 15.1222 8.85071 15.0042 8.71584 14.9536L6.87825 14.0601C6.47364 13.8578 6.50736 13.2509 6.94568 13.116L8.90129 12.5091C9.03616 12.4586 9.15417 12.3574 9.2216 12.2394Z" fill="#FCE25C"/>
                                <path d="M52.1774 41.7421L53.0709 39.9045C53.2732 39.4999 53.8801 39.5336 54.015 39.9719L54.6219 41.9275C54.6556 42.0624 54.7568 42.1804 54.8916 42.231L56.7292 43.1245C57.1338 43.3268 57.1001 43.9337 56.6618 44.0686L54.7062 44.6755C54.5713 44.7092 54.4533 44.8103 54.4027 44.9452L53.5092 46.7828C53.3069 47.1874 52.7 47.1537 52.5651 46.7154L51.9582 44.7598C51.9245 44.6249 51.8234 44.5069 51.6885 44.4563L49.8509 43.5628C49.4463 43.3605 49.48 42.7536 49.9183 42.6187L51.8739 42.0118C52.0088 41.9612 52.1268 41.8769 52.1774 41.7421Z" fill="#FCE25C"/>
                                <path d="M9.50804 41.8769C9.10343 41.2363 8.85055 40.6125 8.71568 39.9719C8.58081 39.3481 8.58081 38.7412 8.68197 38.1512C8.79998 37.5611 9.01914 37.0048 9.33945 36.4822C9.67663 35.9595 10.0981 35.4706 10.6207 35.0154C11.177 34.5434 11.7334 34.1894 12.3234 33.9702C12.9135 33.751 13.453 33.6499 13.9924 33.6668C14.5319 33.6836 15.0377 33.8016 15.5097 34.0208C15.9818 34.2399 16.4032 34.5603 16.7573 34.9817C17.0776 35.3526 17.3136 35.7067 17.4653 36.0607C17.6339 36.4147 17.7182 36.7519 17.7519 37.0891C17.7856 37.4262 17.7351 37.7634 17.6508 38.1006C17.5496 38.4378 17.3979 38.7749 17.1956 39.1121C18.8983 38.404 20.3313 38.7244 21.4777 40.073C21.9835 40.6631 22.3206 41.2869 22.4892 41.9106C22.6578 42.5513 22.6915 43.175 22.5735 43.7988C22.4724 44.4226 22.2363 45.0126 21.8654 45.5858C21.5114 46.159 21.0562 46.6648 20.5336 47.12C19.9604 47.6089 19.4209 47.9629 18.8646 48.2158C18.3251 48.4518 17.7856 48.5867 17.2293 48.6204C16.6898 48.6373 16.1335 48.5698 15.5603 48.3844C14.9871 48.1989 14.3971 47.9292 13.7901 47.5583L14.4308 46.3276C14.5994 46.0073 14.8017 45.7713 15.0714 45.6196C15.3411 45.4847 15.594 45.4678 15.8469 45.569C16.1335 45.687 16.4032 45.7713 16.673 45.8387C16.9427 45.9061 17.1956 45.9399 17.4653 45.9399C17.7182 45.9399 17.9711 45.8893 18.224 45.805C18.4769 45.7207 18.7129 45.569 18.9658 45.3498C19.2692 45.0801 19.5052 44.8103 19.6401 44.5069C19.775 44.2034 19.8593 43.9168 19.8761 43.6134C19.893 43.3099 19.8424 43.0402 19.7581 42.7704C19.657 42.5007 19.5221 42.2647 19.3535 42.0624C19.1175 41.7926 18.8983 41.5735 18.6623 41.4049C18.4263 41.2363 18.1565 41.1351 17.8531 41.1351C17.5496 41.1351 17.1956 41.2363 16.791 41.4386C16.3864 41.6409 15.8806 41.9949 15.3074 42.5007L13.9756 40.9497C14.4645 40.5282 14.8185 40.1573 15.0714 39.8033C15.3074 39.4661 15.4591 39.1458 15.5097 38.8424C15.5603 38.5558 15.5434 38.2692 15.4254 38.0163C15.3243 37.7634 15.1557 37.5105 14.9534 37.2745C14.5151 36.7688 14.0599 36.499 13.571 36.4484C13.0821 36.4147 12.5932 36.6002 12.1043 37.0048C11.8851 37.1902 11.7165 37.3925 11.5985 37.5948C11.4636 37.814 11.3794 38.0331 11.3288 38.2523C11.2782 38.4883 11.2613 38.7075 11.2782 38.9435C11.2951 39.1795 11.3625 39.3987 11.4636 39.601C11.5985 39.955 11.6154 40.2416 11.5311 40.4608C11.4468 40.68 11.2276 40.8991 10.8905 41.1183L9.50804 41.8769Z" fill="white"/>
                                <path d="M29.0808 29.5195C29.9406 30.531 30.5981 31.5088 31.0027 32.4361C31.4242 33.3633 31.6433 34.24 31.677 35.066C31.7108 35.8752 31.559 36.6339 31.2387 37.3251C30.9184 38.0163 30.4464 38.6232 29.8394 39.129C29.2325 39.6516 28.5582 40.0056 27.8333 40.2248C27.1083 40.4439 26.3497 40.4608 25.5573 40.2922C24.765 40.1236 23.9389 39.7696 23.0791 39.1964C22.2193 38.6401 21.3595 37.8477 20.4997 36.8362C19.6399 35.8247 18.9825 34.8469 18.561 33.9196C18.1395 32.9924 17.9035 32.1158 17.8698 31.3065C17.8361 30.4973 17.9709 29.7387 18.2913 29.0643C18.6116 28.3731 19.0836 27.7831 19.6905 27.2605C20.2974 26.7378 20.9718 26.367 21.6967 26.1646C22.4216 25.9455 23.1971 25.9286 23.9895 26.0804C24.7987 26.2321 25.6248 26.603 26.4677 27.1593C27.3612 27.7156 28.221 28.508 29.0808 29.5195ZM26.8049 31.4751C26.0968 30.6491 25.473 30.0253 24.8999 29.587C24.3267 29.1486 23.8209 28.862 23.3657 28.7103C22.9105 28.5586 22.5228 28.5249 22.1687 28.6092C21.8147 28.6934 21.5113 28.8452 21.2584 29.0643C21.0055 29.2835 20.8032 29.5532 20.6683 29.8736C20.5335 30.1939 20.5166 30.5985 20.584 31.0705C20.6683 31.5426 20.8706 32.082 21.2247 32.7227C21.5618 33.3464 22.0845 34.0714 22.7925 34.8974C23.5006 35.7235 24.1412 36.3641 24.6975 36.8025C25.2707 37.2408 25.7765 37.5274 26.2148 37.696C26.67 37.8477 27.0578 37.8814 27.3949 37.7971C27.7321 37.7128 28.0356 37.5611 28.2884 37.3419C28.5413 37.1228 28.7436 36.853 28.8785 36.5159C29.0134 36.1787 29.0471 35.7909 28.9628 35.3189C28.8785 34.8469 28.6762 34.3074 28.339 33.6668C28.0356 33.0261 27.5129 32.3012 26.8049 31.4751Z" fill="white"/>
                                <path d="M28.7947 22.0343C28.9464 22.2029 29.0476 22.3883 29.0981 22.5906C29.1487 22.7929 29.1824 22.9784 29.1656 23.1638C29.1487 23.3493 29.0981 23.5347 29.0139 23.7033C28.9296 23.8719 28.8115 24.0236 28.6598 24.1585C28.4912 24.2933 28.3226 24.3945 28.1372 24.4619C27.9518 24.5294 27.7663 24.5462 27.5809 24.5294C27.3954 24.5125 27.21 24.4619 27.0245 24.3608C26.8391 24.2596 26.6874 24.1248 26.5356 23.9562C26.3839 23.7707 26.2659 23.5853 26.1985 23.3998C26.131 23.2144 26.0973 23.0121 26.1142 22.8266C26.131 22.6412 26.1816 22.4557 26.2659 22.2872C26.3502 22.1186 26.4851 21.95 26.6368 21.8151C26.8054 21.6802 26.974 21.5791 27.1594 21.5117C27.3448 21.4442 27.5303 21.4274 27.7326 21.4442C27.918 21.4611 28.1035 21.5117 28.2889 21.6128C28.4744 21.714 28.643 21.8488 28.7947 22.0343ZM28.0192 22.6918C27.918 22.5738 27.8337 22.5063 27.7495 22.4389C27.6652 22.3883 27.5977 22.3377 27.5303 22.3377C27.4629 22.3209 27.3954 22.3209 27.3448 22.3377C27.2943 22.3546 27.2268 22.3883 27.1763 22.4389C27.1257 22.4895 27.092 22.54 27.0582 22.5906C27.0245 22.6412 27.0245 22.7086 27.0245 22.7761C27.0245 22.8435 27.0582 22.9278 27.1088 23.0121C27.1594 23.0964 27.2268 23.1975 27.3111 23.3155C27.3954 23.4167 27.4797 23.501 27.564 23.5516C27.6483 23.6021 27.7157 23.6359 27.7832 23.6527C27.8506 23.6696 27.918 23.6696 27.9686 23.6527C28.0192 23.6359 28.0866 23.6021 28.1372 23.5516C28.1878 23.501 28.2215 23.4504 28.2552 23.3998C28.2889 23.3493 28.3058 23.2818 28.2889 23.2144C28.2889 23.1469 28.2721 23.0627 28.2215 22.9784C28.1709 22.8941 28.1203 22.7929 28.0192 22.6918ZM29.4353 19.7584C29.4353 19.6909 29.4522 19.6235 29.469 19.5561C29.4859 19.4886 29.5365 19.4043 29.6208 19.3369L30.3457 18.7131L30.6997 26.3332C30.6997 26.4007 30.6829 26.4681 30.666 26.5355C30.6323 26.603 30.5986 26.6704 30.5311 26.721L29.7725 27.3616L29.4353 19.7584ZM33.6163 22.1691C33.768 22.3377 33.8691 22.5232 33.9197 22.7255C33.9872 22.9278 34.004 23.1132 33.9872 23.3155C33.9703 23.5178 33.9197 23.6864 33.8354 23.855C33.7511 24.0236 33.6331 24.1753 33.4814 24.3102C33.3128 24.4451 33.1442 24.5462 32.9588 24.6137C32.7733 24.6811 32.5879 24.6979 32.4024 24.6811C32.217 24.6642 32.0316 24.6137 31.8461 24.5125C31.6607 24.4113 31.5089 24.2765 31.3572 24.1079C31.2055 23.9224 31.0875 23.737 31.02 23.5516C30.9526 23.3661 30.9189 23.1638 30.9357 22.9784C30.9526 22.7929 31.0032 22.6075 31.0875 22.4389C31.1718 22.2703 31.3066 22.1017 31.4584 21.9668C31.6269 21.832 31.7955 21.7308 31.981 21.6634C32.1664 21.596 32.3519 21.5791 32.5542 21.596C32.7396 21.6128 32.9251 21.6634 33.1105 21.7645C33.296 21.8657 33.4645 22.0006 33.6163 22.1691ZM32.8576 22.8266C32.7733 22.7255 32.6722 22.6412 32.6047 22.5738C32.5205 22.5232 32.453 22.4895 32.3856 22.4726C32.3182 22.4557 32.2507 22.4557 32.2001 22.4726C32.1327 22.4895 32.0821 22.5232 32.0316 22.5738C31.981 22.6243 31.9473 22.6749 31.9135 22.7255C31.8798 22.7761 31.8798 22.8435 31.8798 22.9109C31.8798 22.9784 31.9135 23.0627 31.9641 23.1469C32.0147 23.2312 32.0821 23.3324 32.1664 23.4335C32.2507 23.5347 32.335 23.619 32.4193 23.6696C32.5036 23.7201 32.571 23.7539 32.6385 23.7707C32.7059 23.7876 32.7733 23.7876 32.8239 23.7707C32.8745 23.7539 32.9419 23.7201 32.9925 23.6696C33.0431 23.619 33.0768 23.5684 33.1105 23.5178C33.1442 23.4673 33.1611 23.3998 33.1442 23.3324C33.1442 23.265 33.1274 23.1807 33.0768 23.0964C33.0094 23.0289 32.9419 22.9446 32.8576 22.8266Z" fill="white"/>
                                <path d="M38.2689 27.8337C38.5555 28.1708 38.7747 28.5417 38.9095 28.9295C39.0444 29.3172 39.095 29.7218 39.0612 30.1264C39.0275 30.531 38.9264 30.9188 38.7241 31.2897C38.5218 31.6774 38.252 32.0146 37.8811 32.3349C37.5103 32.6552 37.1225 32.8744 36.7179 33.0093C36.3133 33.1441 35.9087 33.1947 35.5041 33.161C35.0995 33.1273 34.7117 33.0093 34.3577 32.8238C34.0036 32.6384 33.6665 32.3686 33.363 32.0146C33.0596 31.6606 32.8573 31.3065 32.7224 30.9188C32.5875 30.531 32.5369 30.1264 32.5707 29.7218C32.6044 29.3172 32.7224 28.9295 32.9078 28.5417C33.1101 28.154 33.3799 27.8168 33.7508 27.4965C34.1217 27.1762 34.5094 26.957 34.914 26.8221C35.3186 26.6873 35.7232 26.6367 36.1278 26.6704C36.5325 26.7041 36.9033 26.8221 37.2742 27.0076C37.662 27.2267 37.9823 27.4965 38.2689 27.8337ZM37.1562 28.7946C36.9539 28.5586 36.7516 28.3731 36.5324 28.2383C36.3133 28.1034 36.0941 28.0191 35.8581 27.9854C35.6389 27.9517 35.4029 27.9685 35.1838 28.036C34.9646 28.1034 34.7454 28.2383 34.5263 28.4069C34.3071 28.5923 34.1554 28.7777 34.0542 28.9969C33.9531 29.1992 33.8856 29.4184 33.8856 29.6544C33.8856 29.8904 33.9362 30.1096 34.0374 30.3456C34.1385 30.5816 34.2902 30.8176 34.4926 31.0537C34.6949 31.2897 34.8972 31.4751 35.1332 31.61C35.3523 31.7449 35.5715 31.8292 35.8075 31.8629C36.0267 31.8966 36.2627 31.8797 36.4819 31.7954C36.701 31.728 36.9202 31.5931 37.1394 31.4077C37.3417 31.2223 37.5103 31.0368 37.6114 30.8345C37.7126 30.6322 37.78 30.413 37.78 30.177C37.78 29.9578 37.7294 29.7218 37.6283 29.4858C37.5271 29.2498 37.3585 29.0306 37.1562 28.7946Z" fill="white"/>
                                <path d="M38.7243 24.816L39.7527 26.0129L41.3711 24.6305L42.096 25.4735L40.4776 26.8559L42.0454 28.6935L40.9496 29.6375L36.9204 24.9171L39.955 22.3209L40.6799 23.1638L38.7243 24.816Z" fill="white"/>
                                <path d="M42.3991 21.6802L43.4275 22.8772L45.0459 21.4948L45.7708 22.3377L44.1524 23.7201L45.7203 25.5577L44.6244 26.5018L40.5952 21.7814L43.6298 19.1852L44.3547 20.0281L42.3991 21.6802Z" fill="white"/>
                                <path d="M63.0007 1.36555C61.6014 -2.84985e-07 59.1906 -0.674347 56.9821 0.893509C50.0869 5.78252 46.5297 14.2793 46.378 14.6333C46.2769 14.9031 46.2937 15.2065 46.4623 15.4257C46.614 15.6617 46.8838 15.7966 47.1535 15.7966H47.1704C48.0302 15.7797 49.0248 15.628 50.0701 15.3582C50.1544 14.8019 50.0701 14.2119 49.8172 13.6892C49.3789 13.8072 48.9574 13.8915 48.5359 13.959C49.8003 11.4133 53.0035 5.76566 57.9431 2.25906C58.5331 1.83759 59.1232 1.66901 59.6795 1.66901C60.5393 1.66901 61.2979 2.07362 61.8037 2.56252C62.6466 3.38859 63.2704 4.88901 62.242 6.44001C61.1294 8.10902 57.3867 10.6884 53.4755 12.3911L53.7284 14.1107C54.7062 13.7061 55.7177 13.2172 56.7292 12.6777C59.983 10.9413 62.6298 8.90138 63.6413 7.3841C65.1586 5.14189 64.4168 2.74796 63.0007 1.36555Z" fill="#595959"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_86_24553">
                                    <rect width="64.4844" height="60" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="step_text">{{ st.step3_text }}</div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "黑五预热步骤",
  "settings": [
    {
      "type": "radio",
      "id": "step_type",
      "label": "此时处于第几步",
      "options": [
        {
          "value": "1",
          "label": "step1"
        },
        {
          "value": "2",
          "label": "step2"
        },
        {
          "value": "3",
          "label": "step3"
        }
      ],
      "default": "1"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "标题",
      "default": "Black Friday & Cyber Monday Schedule"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "标题"
    },
    {
      "type": "text",
      "id": "step1_text",
      "label": "step1文案",
      "default": "Get Ready for BFCM with a 10% OFF Gift Card!"
    },
    {
      "type": "text",
      "id": "step1_time",
      "label": "step1时间",
      "default": "Oct. 23 - Nov.05"
    },
    {
      "type": "text",
      "id": "step2_text",
      "label": "step2文案",
      "default": "Subscribe & Receive $5 Gift Card"
    },
    {
      "type": "text",
      "id": "step2_time",
      "label": "step2时间",
      "default": "Nov. 06 - Nov.19"
    },
    {
      "type": "text",
      "id": "step3_text",
      "label": "step3文案",
      "default": "Save UP TO 30% Web-Site Sale"
    },
    {
      "type": "text",
      "id": "step3_time",
      "label": "step3时间",
      "default": "Nov. 20 - Dec. 03"
    },
    {
      "type": "text",
      "id": "padding_pc",
      "label": "pc端边距",
      "default": "130px 0 0 0"
    },
    {
      "type": "text",
      "id": "padding_mobile",
      "label": "移动端边距",
      "default": "60px 0 0 0"
    }
  ],
  "presets": [
    {
      "name": "黑五预热步骤"
    }
  ],
  "templates": [
    "page"
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
