<link
  rel="stylesheet"
  href="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/swiper-bundle.min_b4c60233-5e07-47dc-800a-583c16079d0b.css?v=1655275790"
>
<!-- Ugreen Rewards Program Banner -->
<section class="page_banner">
  <img
    src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/banner_pc_35803cc2-be78-432c-a23b-e51b0d70e86f.jpg?v=1678948647"
    class="banner_pc"
    alt="How to select between USB-C Hub and Docking Station?"
  >
  <img
    src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/banner_mobile_93e17e33-685e-4194-aa04-6590d2bc21d6.png?v=1678948648"
    class="banner_mol"
    alt="How to select between USB-C Hub and Docking Station?"
  >
  <div class="banner_box">
    <h1>How to select between USB-C Hub and Docking Station?</h1>
    <p>
      Choosing between a USB-C hub and a docking station can be tricky. This guide will help you understand the
      differences and pick the right one for your needs.
    </p>
  </div>
</section>
<section class="nav_tabs">
  <div class="content">
    <ul>
      <li>Definition</li>
      <li>When to Buy</li>
      <li>How to Choose</li>
      <li>Buy Now</li>
    </ul>
  </div>
</section>
<section class="buying_box_1">
  <div class="content">
    <div class="buying_swiper">
      <div class="swiper-wrapper">
        <div class="item swiper-slide">
          <img
            src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/definition1_pc.jpg?v=1678948702"
            alt="What Does USB-C Hub Mean?"
          >
          <div class="item_text">
            <h2>What Does USB-C Hub Mean?</h2>
            <p>
              A USB-C hub connects to a device's single USB-C port and offers multiple USB-C and other types of ports
              like USB-A, HDMI, Ethernet, and SD card readers, expanding the port availability. It allows users to
              connect external storage drives, monitors, keyboards, and mice to devices with limited built-in ports,
              like laptops, tablets, and smartphones. Some hubs can also charge the host device and connected
              peripherals.
            </p>
            <a href="/collections/hubs-and-adapters/products/6-in-1-usb-c-adapter-with-4k-hdmi">Shop Now &gt;</a>
          </div>
        </div>
        <div class="item swiper-slide">
          <img
            src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/definition2_pc.jpg?v=1678948702"
            alt="What Is A Docking Station?"
          >
          <div class="item_text">
            <h2>What Is A Docking Station?</h2>
            <p>
              A docking station connects a laptop or mobile device to a desktop setup with various ports for peripherals
              and charging capabilities. It enables users to switch between mobile and desktop computing without
              constant plugging and unplugging. They are favored by business professionals who travel frequently but
              need full desktop power in the office.
            </p>
            <a href="/products/ugreen-usb-c-triple-display-docking-station">Shop Now &gt;</a>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<section class="buying_box_2">
  <h2>USB-C hub or docking station: when to buy which?</h2>
  <div class="scene_content">
    <img
      src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/when1_pc.png?v=1678948784"
      alt="When to buy a USB-C hub?"
    >
    <div class="scene_box">
      <div class="scene_text">
        <h3>When to buy a USB-C hub?</h3>
        <p>
          <span>1. You have a device with limited ports:</span> If your laptop or tablet has only one or two USB-C
          ports, a USB-C hub can be an essential accessory to expand its connectivity options.
        </p>
        <p>
          <span>2. Need to connect multiple peripherals:</span> A USB-C hub can enable you to connect multiple
          peripherals at once, such as a keyboard, mouse, external hard drive, or display, without having to constantly
          switch out cables.
        </p>
        <p>
          <span>3. Support for high-speed data transfer and charging:</span> If you need to transfer large files or want
          to charge your device quickly, make sure to look for a USB-C hub that supports high-speed data tr ansfer and
          Power Delivery charging.
        </p>
        <a href="/collections/usb-hub">USB-C Hub &gt;</a>
      </div>
    </div>
  </div>
  <div class="scene_content">
    <img
      src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/when2_pc.png?v=1678948784"
      alt="When to buy a Docking Station?"
    >
    <div class="scene_box">
      <div class="scene_text">
        <h3>When to buy a Docking Station?</h3>
        <p>
          <span>1. Multiple peripherals:</span> If you have multiple peripherals that you need to connect to your laptop
          or computer, a docking station can help simplify the process by allowing you to connect them all at once.
        </p>
        <p>
          <span>2. Enhanced productivity:</span> If you want to enhance your productivity by connecting to multiple
          monitors or using a more comfortable keyboard and mouse, a docking station can provide the necessary tools to
          do so.
        </p>
        <p>
          <span>3. Charging Capabilities:</span> If your laptop battery life is a concern, a docking station with
          charging capabilities can keep your laptop fully charged while in use and eliminate the need for a separate
          charging cable.
        </p>
        <a href="/collections/docking-station">Docking Station &gt;</a>
      </div>
    </div>
  </div>
</section>
<section class="buying_box_3">
  <h2>How to choose a USB-C hub or a docking station?</h2>
  <div class="content ">
    <div class="station_box buying_swiper_2">
      <div class="cursor-btns swiper" thumbsslider="">
        <div class="swiper-wrapper">
          <span class="cursor-btn swiper-slide">Compatibility</span>
          <span class="cursor-btn swiper-slide">Ports</span>
          <span class="cursor-btn swiper-slide">Power Delivery</span>
          <span class="cursor-btn swiper-slide">Design and Size</span>
          <span class="cursor-btn swiper-slide">Budget</span>
        </div>
      </div>
      <div class="swiper-wrapper">
        <div class="item swiper-slide item1">
          <div class="item_text">
            <h3>Compatibilit</h3>
            <p>
              Ensure hub/docking station compatibility with your device(s). Verify USB-C port type (e.g. Thunderbolt 3,
              USB-C 3.1) for proper compatibility.
            </p>
          </div>
          <img
            class="item_img"
            src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/compatibility_pc.png?v=1678958480"
            alt=""
          >
          <div class="item_product">
            <div class="product_border">
              <span></span>
            </div>
            <a href="/products/ugreen-9-in-1-usb-c-docking-station">
              <div class="product_box">
                <img
                  src="https://cdn.shopify.com/s/files/1/0257/5246/9566/products/90912.png"
                  alt="Ugreen 9-in-1 USB C Docking Station"
                >
                <div class="product_text">
                  <p>Ugreen 9-in-1 USB C Docking Station</p>
                  <p>$199.99</p>
                  <p>Learn more &gt;</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="item swiper-slide item2">
          <div class="item_text">
            <h3>Ports</h3>
            <p>
              Assess required port types: extra USB-A/C, Ethernet, HDMI/display, SD card reader, audio jacks. Confirm
              hub/docking station has necessary ports.
            </p>
          </div>
          <img
            class="item_img"
            src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/how2_pc.png?v=1678948876"
            alt=""
          >
          <div class="item_product">
            <div class="product_border">
              <span></span>
            </div>
            <a href="/products/ugreen-9-in-1-usb-c-hub-with-4k-hdmi">
              <div class="product_box">
                <img
                  src="https://cdn.shopify.com/s/files/1/0257/5246/9566/products/80133_f4bbaf34-f0ab-4c5a-bc16-25506bb1e111.png"
                  alt="UGREEN 10-in-1 USB C Hub with 4K HDMI"
                >
                <div class="product_text">
                  <p>UGREEN 9-in-1 USB C Hub with 4K HDMI</p>
                  <p>$54.99</p>
                  <p>Learn more &gt;</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="item swiper-slide item3">
          <div class="item_text">
            <h3>Power Delivery</h3>
            <p>
              If you need to charge your device(s) through the hub or docking station, make sure it supports Power
              Delivery (PD) and has enough wattage to provide sufficient power.
            </p>
          </div>
          <img
            class="item_img"
            src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/how3_pc.png?v=1678948875"
            alt=""
          >
          <div class="item_product">
            <div class="product_border">
              <span></span>
            </div>
            <a href="/collections/docking-station/products/ugreen-usb-c-triple-display-docking-station">
              <div class="product_box">
                <img
                  src="https://cdn.shopify.com/s/files/1/0257/5246/9566/products/90325-509908.png"
                  alt="Ugreen USB C Triple Display Docking Station (12-in-1)"
                >
                <div class="product_text">
                  <p>Ugreen USB C Triple Display Docking Station (12-in-1)</p>
                  <p>$329.99</p>
                  <p>Learn more &gt;</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="item swiper-slide item4">
          <div class="item_text">
            <h3>Design and Size</h3>
            <p>
              Consider hub/docking station usage & location. For travel, seek compact, lightweight options. For desk
              use, choose larger, stable-based models.
            </p>
          </div>
          <img
            class="item_img"
            src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/how4_pc.png?v=1678948876"
            alt=""
          >
          <div class="item_product">
            <div class="product_border">
              <span></span>
            </div>
            <a href="/collections/usb-hub/products/6-in-2-usb-c-hub-for-macbook-pro">
              <div class="product_box">
                <img
                  src="https://cdn.shopify.com/s/files/1/0257/5246/9566/products/80856-235959.png"
                  alt="Ugreen 6-in-2 USB C Hub for MacBook Pro"
                >
                <div class="product_text">
                  <p>Ugreen 6-in-2 USB C Hub for MacBook Pro</p>
                  <p>$26.99</p>
                  <p>Learn more &gt;</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="item swiper-slide item5">
          <div class="item_text">
            <h3>Budget</h3>
            <p>
              USB-C hubs and docking stations can range in price, so consider your budget and find a hub or docking
              station that meets your needs within your price range.
            </p>
          </div>
          <img
            class="item_img"
            src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/how5_pc.png?v=1678948875"
            alt=""
          >
          <div class="item_product">
            <div class="product_border">
              <span></span>
            </div>
            <a href="/collections/usb-hub/products/ugreen-4-in-1-usb-3-0-hub">
              <div class="product_box">
                <img
                  src="https://cdn.shopify.com/s/files/1/0257/5246/9566/products/20805-887818.png"
                  alt="Ugreen 4 in 1 USB 3.0 Hub"
                >
                <div class="product_text">
                  <p>Ugreen 4 in 1 USB 3.0 Hub</p>
                  <p>$15.99</p>
                  <p>Learn more &gt;</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
<section class="buying_box_4">
  <h2>Recommend Hubs and Docking Stations</h2>
  <div class="content">
    <div class="buy_hubs buying_swiper_3">
      <div class="swiper-wrapper">
        {% for product in section.settings.product_list %}
          <div class="item swiper-slide">
            <div class="product_img">
              <a href="{{ product.url }}"><img src="{{ product.featured_media | img_url: "400x" }}" alt=""></a>
            </div>
            <div class="product_t_r">
              <a href="{{ product.url }}">
                <p class="product_title">{{ product.title }}</p>
                <div class="product_pire_review">
                  <p>{{ product.price | money }}</p>
                  <div class="product_review">{%- render 'product-rating', product: product, app_review: '4' -%}</div>
                </div>
              </a>
            </div>
            <a
              href="{{ product.url }}"
              class="t4s-pr-item-btn t4s-pr-addtocart buy_now"
              data-variant-id="{{product.variants.first.id}}"
              data-action-atc
              rel="nofollow"
              >Buy Now</a
            >
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<style>
  /* Global style */
  .content {
      width: 100%;
      max-width: 66.667vw;
      margin: 0 auto;
  }

  .buying_box_2 h2,
  .buying_box_3 h2,
  .buying_box_4 h2 {
      font-weight: 700;
      font-size: 1.875vw;
      color: #000000;
      text-align: center;
      margin-bottom: 2.083vw;
  }

  /*Page banner style*/
  .page_banner {
      position: relative;
  }

  .page_banner img {
      width: 100%;
  }

  .page_banner .banner_mol {
      display: none;
  }

  .page_banner .banner_box {
      position: absolute;
      top: 20%;
      left: 50%;
      max-width: 50vw;
      transform: translateX(-50%);
      text-align: center;
  }

  .page_banner .banner_box h1 {
      font-weight: 700;
      font-size: 2.083vw;
      color: #000000;
      margin-bottom: 0.521vw;
  }

  .page_banner .banner_box p {
      font-size: 1.042vw;
      color: #000000;
      margin: 0;
      opacity: .8;
  }

  .page_banner .banner_box a {
      display: inline-block;
      padding: 0.521vw 2.083vw;
      border-radius: 3.125vw;
      font-weight: 600;
      font-size: 0.833vw;
      text-align: center;
      color: #FFFFFF;
      transition: 0.3s;
      margin-top: 4.167vw;
      background-color: #2F4D6C;
  }

  .page_banner .banner_box a:hover {
      background: #012448;
  }

  /* tabs style*/
  .nav_tabs {
      padding: 1.146vw 0;
      background-color: #FFFFFF;
      position: sticky;
      top: 0;
      z-index: 2;
  }

  .nav_tabs ul {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-around;
  }

  .nav_tabs ul li {
      font-size: 1.042vw;
      line-height: 1.5625vw;
      color: #757575;
      transition: 0.3s;
  }

  .nav_tabs ul li:hover,
  .nav_tabs ul li.active {
      color: #000000;
      cursor: pointer;
  }

  /* buying box 1 style */
  .buying_box_1 {
      padding: 6.25vw 0;
      background-color: #F8F8F9;
  }

  .buying_box_1 .buying_swiper {
      position: relative;
      border-radius: 1.042vw;
      overflow: hidden;
  }

  .buying_box_1 .buying_swiper .swiper-pagination {
      width: 22.083vw;
      left: 58%;
      bottom: 2.083vw;
      text-align: left;
  }

  .buying_box_1 .buying_swiper .swiper-pagination-bullet {
      width: 3.229vw;
      height: 0.208vw;
      border-radius: inherit;
      background-color: rgba(255, 255, 255, .8);
  }

  .buying_box_1 .buying_swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: rgba(255, 255, 255, 1);
  }

  .buying_box_1 .buying_swiper .item {
      display: flex;
  }

  .buying_box_1 .buying_swiper .item img {
      width: 53.7%;
  }

  .buying_box_1 .buying_swiper .item .item_text {
      background: #000;
      padding: 3.125vw 2.604vw 0 2.604vw;
  }

  .buying_box_1 .buying_swiper .item .item_text h2 {
      font-weight: 700;
      font-size: 1.667vw;
      color: #FFFFFF;
  }

  .buying_box_1 .buying_swiper .item .item_text p {
      font-size: 0.9375vw;
      line-height: 1.5625vw;
      color: #FFFFFF;
      margin: 2.083vw 0;
      height: 7.8125vw;
      overflow-y: auto;
  }

  .buying_box_1 .buying_swiper .item .item_text p::-webkit-scrollbar {
      width: 5px;
  }

  .buying_box_1 .buying_swiper .item .item_text p::-webkit-scrollbar-track {
      background: rgb(179, 177, 177);
      border-radius: 5px;
  }

  .buying_box_1 .buying_swiper .item .item_text p::-webkit-scrollbar-thumb {
      background: rgb(136, 136, 136);
      border-radius: 5px;
  }

  .buying_box_1 .buying_swiper .item .item_text p::-webkit-scrollbar-thumb:hover {
      background: rgb(100, 100, 100);
      border-radius: 5px;
  }

  .buying_box_1 .buying_swiper .item .item_text p::-webkit-scrollbar-thumb:active {
      background: rgb(68, 68, 68);
      border-radius: 5px;
  }

  .buying_box_1 .buying_swiper .item .item_text a {
      display: inline-block;
      padding: 0.625vw 1.5625vw;
      border: 0.104vw solid #FFFFFF;
      border-radius: 5.208vw;
      font-weight: 600;
      font-size: 0.833vw;
      color: #FFFFFF;
      transition: 0.3s;
  }

  .buying_box_1 .buying_swiper .item .item_text a:hover {
      color: #00cc88;
      border: 0.104vw solid #00cc88;
  }

  /* buying box 2 Style */
  .buying_box_2 {
      background-color: #F8F8F9;
  }

  .buying_box_2 .scene_content {
      display: flex;
  }

  .buying_box_2 .scene_content img {
      width: 50%;
  }

  .buying_box_2 .scene_content .scene_box {
      width: 50%;
      background-color: #fff;
      display: flex;
      align-items: center;
      padding: 0 0 0 4.6875vw;
  }

  .buying_box_2 .scene_content .scene_text {
      max-width: 28.646vw;
  }

  .buying_box_2 .scene_content .scene_text h3 {
      font-weight: 700;
      font-size: 1.25vw;
      color: #000000;
  }

  .buying_box_2 .scene_content .scene_text p {
      font-size: 0.9375vw;
      line-height: 1.458vw;
      color: #727273;
      margin: 0.521vw 0 1.042vw 0;

  }

  .buying_box_2 .scene_content .scene_text p span {
      font-weight: 600;
      color: #727273;
  }

  .buying_box_2 .scene_content .scene_text a {
      font-weight: 600;
      font-size: 0.833vw;
      text-decoration-line: underline;
      color: #00CC88;
  }

  .buying_box_2 .scene_content:nth-child(3) img {
      order: 1;
  }

  .buying_box_2 .scene_content:nth-child(3) .scene_box {
      justify-content: flex-end;
      padding: 0 4.6875vw 0 0;
  }

  /* buying box 3 Style */
  .buying_box_3 {
      padding: 6.25vw 0;
      background-color: #F8F8F9;
      overflow: hidden;
  }

  .buying_box_3 .station_box {
      padding: 0 4.167vw;
      position: relative;
  }

  .buying_box_3 .station_box .cursor-btns .cursor-btn {
      padding-bottom: 0.78125vw;
      text-align: center;
      cursor: pointer;
      font-size: 1.042vw;
      border-bottom: 0.052vw solid rgba(0, 0, 0, 0.2);
      transition: all .3s;
  }

  .buying_box_3 .station_box .cursor-btns .cursor-btn:hover,
  .buying_box_3 .station_box .cursor-btns .cursor-btn.swiper-slide-thumb-active {
      border-bottom: 0.052vw solid #00CC88;
      color: #000;
  }

  .buying_box_3 .station_box .item {
      position: relative;
      opacity: .5;
  }

  .buying_box_3 .station_box .item_text {
      margin: 2.083vw 0;
      padding: 0 10.9375vw;
      text-align: center;
      opacity: 0;
  }

  .buying_box_3 .station_box .item_text h3 {
      display: none;
  }

  .buying_box_3 .station_box .item_text p {
      margin: 0;
      font-size: 0.9375vw;
      line-height: 1.458vw;
      color: #727273;
      height: 4.375vw;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
  }

  .buying_box_3 .station_box .item_img {
      width: 100%;
  }

  .buying_box_3 .station_box .item .item_product {
      position: absolute;
      bottom: 6.479vw;
     right: 4.03125vw;
      display: flex;
      align-items: center;
      opacity: 0;
  }

  .buying_box_3 .station_box .item2 .item_product {
    bottom: 7.479vw;
    right: 4.03125vw;
  }

  .buying_box_3 .station_box .item3 .item_product {
      right: 9.5vw;
  }

  .buying_box_3 .station_box .item4 .item_product {
      bottom: 16.479vw;
      right: 16.03125vw;
  }

  .buying_box_3 .station_box .item5 .item_product {
      bottom: 2.479vw;
      right: 18.5vw;
  }

  .buying_box_3 .station_box .item .item_product .product_border {
    width: 1.042vw;
    height: 1.042vw;
    border-radius: 50%;
    border: 0.052vw solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 7.8125vw;
    }
    .buying_box_3 .station_box .item .item_product .product_border::after{
        content: '';
        position: absolute;
        height: 0.052vw;
        width: 7.8125vw;
        background: #fff;
        top: 50%;
        right: 0;
        transform: translate(100%, -50%);
    }
  .buying_box_3 .station_box .item .item_product .product_border span {
      display: inline-block;
      width: 0.521vw;
        height: 0.521vw;
        background: #fff;
        border-radius: 50%;
        position: relative;
  }

  .buying_box_3 .station_box .item .item_product .product_box {
      padding: 1.302vw;
      background: #FFFFFF;
      border-radius: 0.417vw;
      display: flex;
      max-width: 17.969vw;
  }

  .buying_box_3 .station_box .item .item_product .product_box img {
      max-width: 4.427vw;
      max-height: 6.771vw;
      object-fit: cover;
      margin-right: 1.302vw;
  }

  .buying_box_3 .station_box .item .item_product .product_box .product_text p:nth-child(1) {
      margin-bottom: 0.521vw;
      font-size: 0.833vw;
      line-height: 1.25vw;
      color: #666666;
      height: 2.5vw;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
  }

  .buying_box_3 .station_box .item .item_product .product_box .product_text p:nth-child(2) {
      font-family: 'Lato-Bold,Lato';
      font-weight: 700;
      font-size: 1.25vw;
      line-height: 1.302vw;
      color: #000;
      margin-bottom: 1.042vw;
  }

  .buying_box_3 .station_box .item .item_product .product_box .product_text p:nth-child(3) {
      margin: 0;
      font-weight: 600;
      font-size: 0.729vw;
      color: #00CC88;
  }

  .buying_box_3 .station_box .item.swiper-slide-active {
      opacity: 1;
  }

  .buying_box_3 .station_box .item.swiper-slide-active .item_text,
  .buying_box_3 .station_box .item.swiper-slide-active .item_product {
      opacity: 1;
  }

  .buying_swiper_2 .swiper-button-next,
  .buying_swiper_2 .swiper-button-prev {
      background: none;
      color: #fff;
      top: 60%;
  }

  .buying_swiper_2 .swiper-button-next:after,
  .buying_swiper_2 .swiper-button-prev:after {
      font-size: 1vw;
  }

  .buying_swiper_2 .swiper-button-prev {
      left: 5vw;
  }

  .buying_swiper_2 .swiper-button-next {
      right: 5vw;
  }

  /* buying box 4 Style */
  .buying_box_4 {
      padding: 0 0 6.25vw 0;
      background-color: #F8F8F9;
  }

  .buy_hubs {
      position: relative;
      overflow: hidden;
      padding: 0 0 2.5vw 0;
  }

  .buy_hubs .item {
      background: #FFFFFF;
      border-radius: 0.417vw;
      padding: 2.083vw 1.302vw 1.042vw 1.302vw;
  }

  .buy_hubs .item .product_img {
      overflow: hidden;
      max-height: 13.021vw;
      max-width: 13.021vw;
      margin: 0 auto;
  }

  .buy_hubs .item .product_img img {
      object-fit: cover;
      transition: all .3s;
  }

  .buy_hubs .item .product_title {
      font-size: 0.833vw;
      line-height: 1.25vw;
      color: #666666;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 2.604vw;
      margin: 1.042vw 0 0.78125vw 0;
  }

  .buy_hubs .item .product_pire_review {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.042vw;
  }

  .buy_hubs .item .product_pire_review p {
      font-family: "Lato-Bold, Lato";
      font-weight: 700;
      font-size: 1.25vw;
      color: #000;
      margin: 0;
  }

  .buy_hubs .item .buy_now {
      display: inline-block;
      height: 1.979vw;
      line-height: 1.979vw;
      width: 100%;
      color: #fff;
      font-size: 0.833vw;
      font-weight: 600;
      border-radius: 3.125vw;
      background: #000;
      transition: all .3s;
      text-align: center;
  }
  .buy_hubs .item:hover img {
      transform: scale(1.2);
  }

  .buy_hubs .item:hover .buy_now {
      background: #00CC88;
  }

  .buying_swiper_3 .swiper-button-next,
  .buying_swiper_3 .swiper-button-prev {
      background: none;
      color: rgba(0, 0, 0, .8);
      width: 2.083vw;
      height: 2.083vw;
      border-radius: 50%;
      border: 0.052vw solid rgba(0, 0, 0, .8);
      ;
  }

  .buying_swiper_3 .swiper-button-next:after,
  .buying_swiper_3 .swiper-button-prev:after {
      font-size: 1vw;
  }

  .buying_swiper_3 .swiper-button-prev {
      left: 5vw;
  }

  .buying_swiper_3 .swiper-button-next {
      right: 5vw;
  }

  .buying_swiper_3 .swiper-pagination {
      bottom: 0 !important;
  }

  .buying_swiper_3 .swiper-pagination .swiper-pagination-bullet-active {
      background: rgba(0, 0, 0, 1);
  }

  @media (max-width:768px) {
      .content {
          max-width: 100%;
      }

      /*banner mol style*/
      .page_banner .banner_pc {
          display: none;
      }

      .page_banner .banner_mol {
          display: block;
      }

      .page_banner .banner_box {
          left: 0;
          max-width: 100%;
          top: 15%;
          padding: 0 4vw;
          transform: inherit;
      }

      .page_banner .banner_box h1 {
          font-size: 7.467vw;
          line-height: 9.6vw
      }

      .page_banner .banner_box p {
          font-size: 4.267vw;
          line-height: 6.4vw;
      }

      /* tabs nav mobile style */
      .nav_tabs {
          padding: 4vw 0 0 0;
      }

      .nav_tabs ul {
          overflow-x: auto;
          justify-content: flex-start;
          padding-bottom: 4vw;
      }

      .nav_tabs ul li {
          width: 40vw;
          flex: none;
          font-size: 3.733vw;
          text-align: center;
          line-height: 5.600vw;
      }

      /* buying box 1 mobile style */
      .buying_box_1 {
          padding: 21.333vw 5.333vw;
      }

      .buying_box_1 .buying_swiper {
          border-radius: 5.333vw;
      }

      .buying_box_1 .buying_swiper .item {
          flex-wrap: wrap;
      }

      .buying_box_1 .buying_swiper .item img {
          width: 100%;
      }

      .buying_box_1 .buying_swiper .item .item_text {
          padding: 10.667vw 5.333vw;
      }

      .buying_box_1 .buying_swiper .item .item_text h2 {
          font-size: 7.467vw;
      }

      .buying_box_1 .buying_swiper .item .item_text p {
          font-size: 4.267vw;
          line-height: 6.933vw;
          margin: 4vw 0 8vw 0;
          height: 48vw;
          -webkit-line-clamp: 7;
      }

      .buying_box_1 .buying_swiper .item .item_text a {
          font-size: 4.267vw;
          padding: 2.133vw 4vw;
          border: 0.4vw solid #FFFFFF;
          border-radius: 16vw;
      }

      .buying_box_1 .buying_swiper .swiper-pagination {
          text-align: center;
          width: 100%;
          left: 0;
      }

      .buying_box_1 .buying_swiper .swiper-pagination-bullet {
          width: 16.533vw;
          height: 1.067vw;
      }

      /* buying box 2 mobile style */
      .buying_box_2 h2,
      .buying_box_3 h2,
      .buying_box_4 h2 {
          font-size: 6.4vw;
          line-height: 9.067vw;
          margin-bottom: 10.667vw;
          padding: 0 5.333vw;
      }

      .buying_box_2 .scene_content {
          display: block;
      }

      .buying_box_2 .scene_content img {
          width: 100%;
      }

      .buying_box_2 .scene_content .scene_box,
      .buying_box_2 .scene_content:nth-child(3) .scene_box {
          width: 100%;
          padding: 10.667vw 6.667vw;
      }

      .buying_box_2 .scene_content .scene_text {
          max-width: 100%;
      }

      .buying_box_2 .scene_content .scene_text h3 {
          text-align: center;
          font-size: 5.333vw;
          line-height: 8vw;
      }

      .buying_box_2 .scene_content .scene_text p {
          font-size: 4.267vw;
          line-height: 6.4vw;
          margin: 1.333vw 0 4vw 0;
      }

      .buying_box_2 .scene_content .scene_text a {
          font-size: 4.267vw;
      }

      /* buying box 3 mobile style */
      .buying_box_3 {
          padding: 21.333vw 0;
      }

      .buying_box_3 .station_box {
          padding: 0 0 0 5.333vw;
      }

      .buying_box_3 .station_box .cursor-btns {
          display: none;
      }

      .buying_box_3 .station_box .item_text {
          padding: 0;
          text-align: left;
          margin: 0 0 5.333vw 0;
      }

      .buying_box_3 .station_box .item_text h3 {
          font-weight: 700;
          font-size: 5.333vw;
          line-height: 8vw;
          display: block;
          color: #0D0D0D;
          margin-bottom: 2.667vw;
      }

      .buying_box_3 .station_box .item_text p {
          -webkit-line-clamp: 6;
          font-size: 4.267vw;
          line-height: 6.4vw;
          height: 40vw;
      }

      .buying_box_3 .station_box .item_img {
          border-radius: 1.067vw 1.067vw 0 0;
          box-shadow: 0vw 1.067vw 5.333vw rgba(0, 0, 0, 0.08);
      }

      .buying_box_3 .station_box .item .item_product {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 1;
      }

      .buying_box_3 .station_box .item .item_product .product_border {
          display: none;
      }

      .buying_box_3 .station_box .item .item_product .product_box {
          border-radius: 0 0 1.067vw 1.067vw;
          box-shadow: 0vw 1.067vw 5.333vw rgba(0, 0, 0, 0.08);
          max-width: 100%;
          padding: 5.333vw;
      }

      .buying_box_3 .station_box .item .item_product .product_box img {
          max-width: 22.667vw;
          margin-right: 5.333vw;
          max-height: 100%;
      }

      .buying_box_3 .station_box .item .item_product .product_box .product_text p:nth-child(1) {
          font-size: 3.733vw;
          line-height: 5.333vw;
          margin-bottom: 1.333vw;
          height: 10.667vw;
      }

      .buying_box_3 .station_box .item .item_product .product_box .product_text p:nth-child(2) {
          font-size: 5.333vw;
          line-height: 6.667vw;
          margin-bottom: 2.667vw;
      }

      .buying_box_3 .station_box .item .item_product .product_box .product_text p:nth-child(3) {
          font-size: 3.733vw;
          line-height: 6.4vw;
      }

      /* buying box 4 mobile style */
      .buying_box_4 {
          padding: 0 0 21.333vw 0;
      }

      .buy_hubs {
          padding: 0 4vw 10.667vw 4vw;
      }

      .buy_hubs .item {
          padding: 5.333vw;
          display: flex;
          flex-wrap: wrap;
      }
      .buy_hubs .item .product_img {
          max-width: calc(40% - 5.333vw);
          margin-right: 5.333vw;
          max-height: 100%;
      }

      .buy_hubs .item .product_t_r {
          max-width: 60%;
      }

      .buy_hubs .item .product_title {
          font-size: 3.733vw;
          line-height: 5.333vw;
          height: 10.667vw;
          margin: 0 0 2.667vw 0;
      }

      .buy_hubs .item .product_pire_review {
          display: block;
      }

      .buy_hubs .item .product_pire_review p {
          font-size: 5.333vw;
          line-height: 6.667vw;
          margin-bottom: 1.333vw;
      }

      .buy_hubs .item .buy_now {
          height: 9.6vw;
          line-height: 9.6vw;
          font-size: 3.733vw;
          border-radius: 16vw;
          margin-top: 2.667vw;
      }
  }
</style>
<script src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/jquery-1.7.2.min.js?v=1624935298"></script>
<script
  src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/swiper-bundle.min_23a60c44-0efc-4129-bf9f-c046f688609a.js?v=1655275790"
></script>
<script type="text/javascript">
  
  
  
  
        $(".nav_tabs li").each((index, item) => {
            $(item).on("click", function () {
                $(this).addClass("active").siblings().removeClass("active");
                const top = $(`.buying_box_${index + 1}`).offset().top;
                $("body,html").animate(
                    {
                        scrollTop: top //让body的scrollTop等于pos的top，就实现了滚动
                    },
                    200
                );
            });
        });
        const swiper = new Swiper(".buying_swiper", {
            loop: true,
            centeredSlides: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 10000,
                disableOnInteraction: false,
            }
        });
        function isMobile768() {
            return window.innerWidth <= 768;
        }
        if (isMobile768()) {
            $('.buying_swiper_2 .swiper-button-next,.buying_swiper_2 .swiper-button-prev, .buying_swiper_2 .swiper-pagination').hide();
            const fitSwiper = new Swiper('.buying_swiper_2', {
                slidesPerView: 1.2,
                spaceBetween: 20,
                loop: true,
                autoplay: {
                    delay: 5000,
                },
            })
        } else {
            $('.buying_swiper_2 .swiper-button-next,.buying_swiper_2 .swiper-button-prev').hide();
            $('.buying_swiper_2').mouseover(function () {
                $('.buying_swiper_2 .swiper-button-next,.buying_swiper_2 .swiper-button-prev').show();
            });

            $('.buying_swiper_2').mouseleave(function () {
                $('.buying_swiper_2 .swiper-button-next,.buying_swiper_2 .swiper-button-prev').hide();
            });
            const cursorBtns = new Swiper(".cursor-btns", {
                slidesPerView: 5,
                watchSlidesVisibility: true //防止不可点击
            });
            const fitSwiper = new Swiper('.buying_swiper_2', {
                slidesPerView: 'auto',
                spaceBetween: 20,
                speed: 1000,

                centeredSlides: true,
                loop: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                autoplay: {
                    delay: 5000,
                },
                thumbs: {
                    swiper: cursorBtns,
                },
            })
        };
        const fitSwiper = new Swiper('.buying_swiper_3', {
            slidesPerView: 1,
            spaceBetween: 20,
            speed: 1000,
            loop: true,
            pagination: {
                el: ".swiper-pagination",
            },
            autoplay: {
                delay: 5000,
            },
            breakpoints: {
                768: {
                    slidesPerView: 1,
                },
                1024: {
                    slidesPerView: 3,
                },
                1920: {
                    slidesPerView: 4,
                },
            },
        })




</script>
{% schema %}
{
  "name": "Buying Guide",
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Buy Hubs",
      "limit": 9
    }
  ],
  "presets": [
    {
      "name": "Buying Guide"
    }
  ],
  "templates": [
    "page"
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
