{{ 'christmas_pages_style.css' | asset_url | stylesheet_tag }}
<div class="ug_christmas_banner">
  <img src="{{ section.settings.pc_image | img_url: '3840x' }}" class="ug_christmas_banner_pc">
  <img src="{{ section.settings.mobile_image | img_url: '750x' }}" class="ug_christmas_banner_mol">
  <div class="ug_christmas_banner_box">
    <h1>{{ section.settings.banner_title }}</h1>
    <p>{{ section.settings.banner_sub_title }}</p>
    <!-- <a href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a> -->
  </div>
</div>

{% schema %}
{
  "name": "Christmas banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "mobile banner"
    },
    {
      "type": "image_picker",
      "id": "pc_image",
      "label": "pc banner"
    },
    {
    "type": "text",
    "id": "banner_title",
    "label": "Banner Title"
  },
  {
    "type": "text",
    "id": "banner_sub_title",
    "label": "Banner Sub Title"
  }
  ],
  "presets": [
  {
    "name": "Christmas banner"
  }
],
"templates": ["page"]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
