<div class="ug_christmas_offers">
	<div class="ug_christmas_offers_box">
		<h2>Enjoy Holiday Offers</h2>
		<div class="content">
			<div class="item item2">
              <div class="holiday_solution">
                    <a href="#christmas_products3">
    						<img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/travel_icon_66848971-9ad0-470c-8b5a-ef262becb0b1.png?v=1669278095">
    						<p>{{ section.settings.products_title3 }}</p>
					</a>
					<a href="#christmas_products1">
						<img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/home_icon_13fee812-4dfb-4f21-91ad-724fc2c769e5.png?v=1669278095">
						<p>{{ section.settings.products_title1 }}</p>
					</a>
					<a href="#christmas_products2">
						<img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/work_icon_e8e83ed4-f2a6-4965-947a-ba6fa0236447.png?v=1669278095">
						<p>{{ section.settings.products_title2 }}</p>
					</a>
				</div>
				
			</div>
		</div>
	</div>
</div>
<div class="christmas_products">
  <div class="for_home_products" id="christmas_products3">
		<h2>{{ section.settings.products_title3 }}</h2>
		<div class="for_home_products_box">
			<div class="for_home_products_banner">
				<img src="{{ section.settings.products_list_img3 | img_url: '3840x' }}">
			</div>
			{% for product in section.settings.product_list3 %}
			<div class="for_home_products_list">
				<div class="for_home_products_list_box">
					<a href="{{ product.url }}">
						<img src="{{ product.featured_media | img_url: "400x" }}">
						<p class="product_title">{{ product.title  }}</p>
						<p class="product_prie">{{ product.price | money }}{% if product.compare_at_price %}<span>{{ product.compare_at_price | money }}</span>{% endif %}</p>
						{% assign compare_at_price = product.compare_at_price %}
                          {% assign price = product.price %}
                          {% assign showDiscountBar = compare_at_price | minus: price %}
                          {% if showDiscountBar > 0 %}
                              <div class="product_sale">
                                  <p>
                                      {{ compare_at_price | minus: price | times: 100 | divided_by: compare_at_price }}%
                                  </p>
                              </div>
                          {% endif %}
					</a>
				</div>
			</div>
            {% endfor %}
		</div>
	</div>
	<div class="for_home_products" id="christmas_products1">
		<h2>{{ section.settings.products_title1 }}</h2>
		<div class="for_home_products_box">
			<div class="for_home_products_banner">
				<img src="{{ section.settings.products_list_img1 | img_url: '3840x' }}">
			</div>
          {% for product in section.settings.product_list1 %}
			<div class="for_home_products_list">
				<div class="for_home_products_list_box">
					<a href="{{ product.url }}">
						<img src="{{ product.featured_media | img_url: "400x" }}">
						<p class="product_title">{{ product.title  }}</p>
						<p class="product_prie">{{ product.price | money }}{% if product.compare_at_price %}<span>{{ product.compare_at_price | money }}</span>{% endif %}</p>
                          {% assign compare_at_price = product.compare_at_price %}
                          {% assign price = product.price %}
                          {% assign showDiscountBar = compare_at_price | minus: price %}
                          {% if showDiscountBar > 0 %}
                              <div class="product_sale">
                                  <p>
                                      {{ compare_at_price | minus: price | times: 100 | divided_by: compare_at_price }}%
                                  </p>
                              </div>
                          {% endif %}
					</a>
				</div>
			</div>
            {% endfor %}
		</div>
	</div>
	<div class="for_home_products" id="christmas_products2">
		<h2>{{ section.settings.products_title2 }}</h2>
		<div class="for_home_products_box">
			<div class="for_home_products_banner">
				<img src="{{ section.settings.products_list_img2 | img_url: '3840x' }}">
			</div>
			{% for product in section.settings.product_list2 %}
			<div class="for_home_products_list">
				<div class="for_home_products_list_box">
					<a href="{{ product.url }}">
						<img src="{{ product.featured_media | img_url: "400x" }}">
						<p class="product_title">{{ product.title  }}</p>
						<p class="product_prie">{{ product.price | money }}{% if product.compare_at_price %}<span>{{ product.compare_at_price | money }}</span>{% endif %}</p>
						{% assign compare_at_price = product.compare_at_price %}
                          {% assign price = product.price %}
                          {% assign showDiscountBar = compare_at_price | minus: price %}
                          {% if showDiscountBar > 0 %}
                              <div class="product_sale">
                                  <p>
                                      {{ compare_at_price | minus: price | times: 100 | divided_by: compare_at_price }}%
                                  </p>
                              </div>
                          {% endif %}
					</a>
				</div>
			</div>
            {% endfor %}
		</div>
	</div>
</div>
<script type="text/javascript">
    // $(function () {
    //     let content = $('.content')
    //     let allBtn = $('.clickBtn')
    //     let imgLength = 3
    //     let currentIndex = 0;
    //     const mobileWidth = window.innerWidth
    //     let bannerWidth = isMobile() ?  mobileWidth : 955;

    //     init()
        
    //     function init() {
    //         makeFakeImg()
    //         defaultAdded()
    //         clickListen()
    //     }

    //     function defaultAdded() {
    //         content.css({
    //             transition: 'none',
    //             'transform': 'translateX(' + -bannerWidth + 'px' + ')'
    //         }).offset()

    //         content.css({
    //             transition: 'all,0.5s',
    //         })
    //         allBtn.eq(0).addClass('active').siblings().removeClass('active')
    //     }

    //     function makeFakeImg() {
    //         content.children().eq(0).clone(true).appendTo('.content')
    //         content.children().eq(imgLength - 1).clone(true).prependTo('.content')
    //     }

    //     function goToSlide(index) {
    //         if (index >= imgLength) {
    //             index = 0
    //         } else if (index < 0) {
    //             index = imgLength - 1
    //         }

    //         if (index === 0 && currentIndex === imgLength - 1) {
    //             content.css({
    //                 'transform': 'translateX(' + -(imgLength + 1) * bannerWidth + 'px' + ')'
    //             }).one('transitionend', function () {
    //                 content.css({
    //                     transition: 'none',
    //                     'transform': 'translateX(' + -(index + 1) * bannerWidth + 'px' + ')'
    //                 }).offset()
    //                 content.css({
    //                     transition: 'all,0.5s',
    //                 })
    //             })
    //         } else if (index === imgLength - 1 && currentIndex === 0) {
    //             content.css({
    //                 'transform': 'translateX(' + 0 + 'px' + ')'
    //             }).one('transitionend', function () {
    //                 content.css({
    //                     transition: 'none',
    //                     'transform': 'translateX(' + -(index + 1) * bannerWidth + 'px' + ')'
    //                 }).offset()
    //                 content.css({
    //                     transition: 'all,0.5s',
    //                 })
    //             })
    //         } else {
    //             content.css({
    //                 'transform': 'translateX(' + -(index + 1) * bannerWidth + 'px' + ')'
    //             })
    //         }
    //         allBtn.eq(index).addClass('active').siblings().removeClass('active')
    //         currentIndex = index;
    //     }

    //     function buttonLock(btn) {
    //         btn.attr('disabled', true)
    //         setTimeout(function () {
    //             btn.attr('disabled', false)
    //         }, 200)
    //     }

    //     function clickListen() {
    //         $('#buttonWrap').on('click', '.clickBtn', function (e) {
    //             let index = $(e.currentTarget).index()
    //             if(index === 2) {
    //               $('.ug-apple-window .content').addClass('small-height')
    //             } else {
    //               $('.ug-apple-window .content').removeClass('small-height')
    //             }
    //             buttonLock(allBtn)
    //             goToSlide(index)
    //         })
    //     }
    //   function isMobile() {
    //     return window.innerWidth <= 767;
    //   }
      // 锚点跳转，浏览器URL后缀不带有锚点字样
      $('.holiday_solution a').click(function() {
		  if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname){
		    let $target = $(this.hash);
		    $target = $target.length && $target || $('[name=' + this.hash.slice(1) + ']');
		    if ($target.length) {
		      let targetOffset = $target.offset().top;
		      $('html,body').animate({scrollTop: targetOffset},500);
		      return false;
		    }
		  }
		});

      
    })
  // $(function () {
		// let discountClipboard = new ClipboardJS('#code_copy1');
		// let discountClipboard1 = new ClipboardJS('#code_copy2');
		//     discountClipboard.on('success', function(e) {
		//     	$('#code_copy1').html("Done");
		//     	$('#code_copy1').css('background','#353535')
		//         setTimeout(function () {
		//         	$('#code_copy1').html("Get it");
		//         	$('#code_copy1').css('background','#F74F1D')
		//         },3000)
		//         e.clearSelection();
		//     });
		//     discountClipboard1.on('success', function(e) {
		//         $('#code_copy2').html("Done");
		//     	$('#code_copy2').css('background','#353535')
		//         setTimeout(function () {
		//         	$('#code_copy2').html("Get it");
		//         	$('#code_copy2').css('background','#F74F1D')
		//         },3000)
		//         e.clearSelection();
		//     });
		// })
</script>

{% schema %}
{
  "name": "christmas product list",
  "settings": [
    {
      "type": "text",
      "id": "products_title1",
      "label": "For Home Title"
    },
    {
      "type": "text",
      "id": "products_title2",
      "label": "For Work Title"
    },
    {
      "type": "text",
      "id": "products_title3",
      "label": "For Travel Title"
    },
    {
      "type": "product_list",
      "id": "product_list1",
      "label": "For Home Product List",
      "limit": 7
    },
    {
      "type": "product_list",
      "id": "product_list2",
      "label": "For Work Product List",
      "limit": 7
    },
    {
      "type": "product_list",
      "id": "product_list3",
      "label": "For Travel Product List",
      "limit": 7
    },
    {
      "type": "image_picker",
      "id": "products_list_img1",
      "label": "For Home Image"
    },
    {
    "type": "image_picker",
      "id": "products_list_img2",
      "label": "For Work Image"
    },
    {
    "type": "image_picker",
      "id": "products_list_img3",
      "label": "For Travel Image"
    }
  ],
  "presets": [
    {
      "name": "christmas product list"
    }
  ],
  "templates": ["page"]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}