{% liquid
    assign blocks = section.blocks
    assign settings = section.settings
    assign faq_title = settings.faq_title | split: " " | join: "_"
%}

<div class="ug_christmas_offers" id="ug-tob-main">
    <div class="ug_christmas_offers_box">
        <div class="title_and_img">
            <h2>Applicable to Various Scenarios</h2>
            <p>Corporate purchase discounts can only be applied on this page.</p>
        </div>
    </div>
</div>

{% comment %}用于 sticky 父级高度需要合适{% endcomment %}
<div class="ug-tob-nav-bar-wrapper">
    <div class="holiday_solution ug-tob-nav-bar">
        {% for block in blocks %}
            {% assign sec_settings = block.settings %}
            {% assign idForTitle = sec_settings.section_title | split: " " | join: "_" %}
            <a href="#{{ idForTitle }}">
                <img class="nav_icon"
                     src="{{ sec_settings.icon_url }}">
                <img class="nav_icon_hover"
                     src="{{ sec_settings.hover_icon_url }}">
                <p>{{ sec_settings.section_title }}</p>
            </a>
        {% endfor %}
        <a href="#{{ faq_title }}">
            <img class="nav_icon"
                 src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Customized_normal_icon_448b257a-7ad7-41fc-bed5-a44db03633dc.svg?v=1676015525">
            <img class="nav_icon_hover"
                 src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Customized_selected_icon_38c8bdb4-56f0-4405-9e84-b3bdfb5abc63.svg?v=1676015524">
            <p>{{ settings.faq_title }}</p>
        </a>
    </div>
</div>
{% comment %}用于sticky阴影{% endcomment %}
<div class="ug-shadow"></div>

<div class="christmas_products">
    {% for block in blocks %}
        {% assign sec_settings = block.settings %}
        {% assign idForTitle = sec_settings.section_title | split: " " | join: "_" %}
        <div class="for_home_products scroll_section" id="{{ idForTitle }}">
            <div class="title_and_img">
                <h2>{{ sec_settings.section_title }}</h2>
                <p>{{ sec_settings.section_subtitle }}</p>
            </div>

            <div class="for_home_products_box some-list">
                <div class="for_home_products_banner">
                    <img src="{{ sec_settings.section_img | img_url: '3840x' }}">
                </div>
                {% for product in sec_settings.product_list %}
                    <div class="for_home_products_list item">
                        <div class="for_home_products_list_box">
                            <a href="{{ product.url }}">
                                <div class="product_mol_style">
                                    <div class="left"><img src="{{ product.featured_media | img_url: '400x400' }}">
                                    </div>
                                    <div class="right">
                                        <p class="product_title">{{ product.title }}</p>
                                        <p class="product_prie">{{ product.price | money }}</p>
                                        {% for collection in product.collections %}
                                            {% if collection.metafields.custom.b2b_data.value %}
                                                {% assign b2b_data = collection.metafields.custom.b2b_data.value %}
                                                <ul>
                                                    {% for b2b_data in b2b_data.discount_list %}
                                                        <li>
                                                            <p>{{ b2b_data.text }}</p>
                                                            <span>SAVE {{ b2b_data.discount }}%</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <a data-id="{{ product.id }}" href="{{ product.url }}" data-tooltip rel="nofollow"
                                   class="t4s-pr-item-btn t4s-pr-quickview" data-action-quickview>
                                    <button>Add to Cart</button>
                                </a>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

<div class="customized_offers scroll_section cs-custom-form"  id="{{ faq_title }}">
    <style type="text/css">
        .customized_offers label.required::after {
            content: '*';
            font-size: 14px;
            line-height: 1;
            margin-left: 2px;
            color: red;
            display: inline-block;
        }
    </style>
    <div class="content">
        <div class="customized_offers_box">
            <div class="customized_title">
                <h2>{{ settings.faq_title }}</h2>
                <p>{{ settings.faq_subtitle }}</p>
            </div>
            <form
                    method="post"
                    action="https://ecf.cirkleinc.com/api/form-submit"
                    id="3f795b30-0e84-4e21-a896-0722a3c27e50"
                    class="cs-form-wrap"
            >
                <div class="your_institution">
                    <label for="Institution" class="required"
                    >Your Institution</label
                    ><select
                            name="Institution"
                            id="Institution"
                            class="condition-trigger"
                    >
                        <option value="Reseller">Reseller</option>
                        <option value="Distributor">Distributor</option>
                        <option value="Universities">Universities</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form_name">
                    <label for="name" class="required">Name</label
                    ><input
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Enter Name"
                            required
                            class=""
                    />
                </div>
                <div class="form_email">
                    <label for="email" class="required">Email</label
                    ><input
                            type="email"
                            id="email"
                            name="email"
                            placeholder="Enter Email"
                            required
                            class=""
                    />
                </div>
                <div class="form_message">
                    <label for="message" class="required">Message</label
                    ><textarea
                            name="message"
                            placeholder="What Are You Interested in? How Can We Help?"
                            required
                            class=""
                    ></textarea>
                </div>
                <div class="form_example">
                    <input type="submit" value="Submit" class="tob-connection">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function beforeSubmit(form) {
        return true;
    }
    function afterSubmit(form) {
        return true;
    }
</script>
<script src="https://ecf.cirkleinc.com/public/frontend/js/form-builder-helper-v2.js" defer></script>
<script src="https://cdn.shopifycdn.net/s/files/1/0257/5246/9566/files/load_more.js?v=1676533450"></script>
<script type="text/javascript">
    $(function () {
        // 锚点跳转，浏览器URL后缀不带有锚点字样
        $('.holiday_solution a').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                let $target = $(this.hash);
                $target = $target.length && $target || $('[name=' + this.hash.slice(1) + ']');
                if ($target.length) {
                    let targetOffset = $target.offset().top;
                    $('html,body').animate({scrollTop: targetOffset - 100}, 500);
                    return false;
                }
            }
        });

        $(window).on('scroll', debounce(onScroll, 150));

        function productInit() {
            $('.for_home_products_list').each(function (i) {
                if (i < 4) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }

        function debounce(fn, delay) {
            let timeout;
            return function () {
                clearTimeout(timeout)
                timeout = setTimeout(() => {
                    fn.apply(this, arguments)
                }, delay)
            }
        }

        function onScroll() {
            const scrollDistance = $(window).scrollTop();
            $('.scroll_section').each(function (i) {
                if (Math.floor($(this).position().top) - 100 <= scrollDistance) {
                    $('.ug-tob-nav-bar-wrapper a.active').removeClass('active');
                    $('.ug-tob-nav-bar-wrapper a').eq(i).addClass('active');
                } else if (scrollDistance + 100 < Math.floor($('.for_home_products').eq(0).position().top)) {
                    $('.ug-tob-nav-bar-wrapper a.active').removeClass('active');
                }
            });
        }


    })

    //懒加载
    $('.some-list').simpleLoadMore({
        item: 'div.item',
        count: 6
    });

</script>

{% schema %}
{
  "name": "ToB product list",
  "max_blocks": 3,
  "blocks": [
    {
      "name": "ToB product section",
      "type": "product_list_section",
      "settings": [
        {
          "type": "text",
          "id": "section_title",
          "label": "标题"
        },
        {
          "type": "text",
          "id": "section_subtitle",
          "label": "副标题"
        },
        {
          "type": "product_list",
          "id": "product_list",
          "label": "选择模块商品",
          "limit": 23
        },
        {
          "type": "image_picker",
          "id": "section_img",
          "label": "模块图片"
        },
        {
          "type": "text",
          "id": "icon_url",
          "label": "icon 链接"
        },
        {
          "type": "text",
          "id": "hover_icon_url",
          "label": "hove icon 链接"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "faq_title",
      "label": "FAQ Title"
    },
    {
      "type": "text",
      "id": "faq_subtitle",
      "label": "FAQ subtitle"
    }
  ],
  "presets": [
    {
      "name": "christmas product list"
    }
  ],
  "templates": [
    "page"
  ]
}
{% endschema %}
