{{ 'toB_style.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet"
      href="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/swiper-bundle.min_b4c60233-5e07-47dc-800a-583c16079d0b.css?v=1655275790">
<div class="ug_christmas_banner">
    <img src="{{ section.settings.pc_image_url }}" class="ug_christmas_banner_pc">
    <img src="{{ section.settings.mobile_image_url }}" class="ug_christmas_banner_mol">
    <div class="ug_christmas_banner_box">
        <h1>{{ section.settings.banner_title }}</h1>
        <p>{{ section.settings.banner_sub_text }}</p>
        <p>{{ section.settings.banner_sub_text2 }}</p>
        {% unless settings.banner_button_text == '' %}
            <a href="{{ section.settings.banner_button_url }}">{{ section.settings.banner_button_text }}</a>
        {% endunless %}
    </div>
</div>
<div class="four_points">
    <div class="four_points_con swiper four_swiper">
        <div class="four_points_box swiper-wrapper">
            <div class="four_points_list swiper-slide"> <img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/Discounts_icon_f12237f0-7ee3-4415-907e-ffa734eec9a3.svg?v=1676020585" alt=""><p>Discounts for businesses who purchase 10 units.</p></div>
            <div class="four_points_list swiper-slide"> <img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/charger_icon_c7e01a81-12fd-470f-aae9-a67aa68365e6.svg?v=1676020585" alt=""><p>1,000+ different products available</p></div>
            <div class="four_points_list swiper-slide"> <img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/delivery_icon_af5b79f9-c3b0-43a0-b848-062e815ccc5e.svg?v=1676020585" alt=""><p>Fast delivery and free shipping on all orders</p></div>
            <div class="four_points_list swiper-slide"> <img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/support_icon_6b269795-8270-473e-9960-068a2014bb4a.svg?v=1676020585" alt=""><p>Experienced customer-service team for 24/7 tech support</p></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<script src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/swiper-bundle.min_23a60c44-0efc-4129-bf9f-c046f688609a.js?v=1655275790"></script>
<script type="text/javascript">
    function isMobile() {
        return window.innerWidth < 768;
    }
    if (isMobile()) {
        const fourSwiper = new Swiper('.four_swiper', {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        })
    }
</script>
{% schema %}
{
  "name": "Christmas banner",
  "settings": [
    {
      "type": "text",
      "id": "mobile_image_url",
      "label": "mobile banner url"
    },
    {
      "type": "text",
      "id": "pc_image_url",
      "label": "pc banner url"
    },
    {
      "type": "text",
      "id": "banner_title",
      "label": "Banner Title"
    },
    {
      "type": "text",
      "id": "banner_sub_text",
      "label": "Banner Sub text"
    },
    {
      "type": "text",
      "id": "banner_sub_text2",
      "label": "Banner Sub text2"
    },
    {
      "type": "text",
      "id": "banner_button_text",
      "label": "Banner button text"
    },
    {
      "type": "text",
      "id": "banner_button_url",
      "label": "Banner button url"
    }
  ],
  "presets": [
    {
      "name": "Christmas banner"
    }
  ],
  "templates": ["page"]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
