{% liquid
  assign settings = section.settings
  assign blocks = section.blocks
  assign title = settings.title
%}
<style>
  .ug-index-blog {
      padding: 120px 0;
      background: #fff;
  }
  .ug-index-blog__container {
      max-width: 1280px;
      margin: 0 auto;
  }
  .ug-index-blog__title {
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 40px;
      color: black;
  }
  .ug-index-blog__content {
      display: flex;
      justify-content: space-between;
      gap: 2vw;
  }
  .ug-index-blog__item {
      position: relative;
    flex: 1;
  }
  .ug-index-blog__item:hover .ug-index-blog__item-image img {
      transform: scale(1.1);
      opacity: 0.7;
  }
  .ug-index-blog__item-link {
      display: flex;
      flex-direction: column;
      gap: 12px;
  }
  .ug-index-blog__item-image {
      width: 100%;
      height: 300px;
      overflow: hidden;
      border-radius: 8px;
      background-color: gray;
  }
  .ug-index-blog__item-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
  }
  .ug-index-blog__item-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.5;
      color: black;
  }
  .ug-index-blog__item-tag {
      font-size: 14px;
      line-height: 1.5;
      color: #F5F5F7;
      position: absolute;
      top: 12px;
      left: 12px;
      background: rgba(0, 0, 0, 0.5);
      padding: 4px 12px;
  }
  .ug-index-blog__item-date {
      margin-bottom: 0;
      font-size: 14px;
      color: #A4A4A6;
  }
  @media (max-width: 768px) {
      .ug-index-blog {
          padding: 80px 12px;
      }
      .ug-index-blog__title {
          font-size: 24px;
          margin-bottom: 24px;
      }
      .ug-index-blog__content {
          flex-direction: column;
          gap: 32px;
      }
      .ug-index-blog__item {
          width: 100%;
      }
      .ug-index-blog__item-title {
          font-size: 18px;
          line-height: 1.5;
      }
      .ug-index-blog__item-image {
          height: 200px;
      }
  }
</style>

<div class="ug-index-blog">
  <div class="ug-index-blog__container">
    <h2 class="ug-index-blog__title">{{ title }}</h2>
    <div class="ug-index-blog__content">
      {% for item in blocks %}
        {% assign blog = item.settings %}
        {% assign title = blog.title %}
        {% assign link = blog.link %}
        {% assign image = blog.blog_img_url %}
        {% assign date = blog.date %}
        {% assign description = blog.description %}
        {% assign tag = blog.tag %}
        {% if blog.title != blank %}
          <div class="ug-index-blog__item">
            <a href="{{ link }}" class="ug-index-blog__item-link">
              <div class="ug-index-blog__item-image">
                <img src="{{ image }}" alt="{{ title | escape }}">
              </div>
              <div class="ug-index-blog__item-content">
                <h3 class="ug-index-blog__item-title">{{ title }}</h3>
                {% if description != blank %}
                  <p class="ug-index-blog__item-description">{{ description }}</p>
                {% endif %}
                <p class="ug-index-blog__item-date">{{ date }}</p>
              </div>
            </a>
            <div class="ug-index-blog__item-tag">{{ tag }}</div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Index Blog",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Blog Section Title",
      "default": "Learn More About All the Latest Tech"
    }
  ],
  "blocks": [
    {
      "name": "Index Blog Item",
      "type": "ug-index-blog-item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Blog title"
        },
        {
          "type": "text",
          "id": "blog_img_url",
          "label": "Blog image URL"
        },
        {
          "type": "text",
          "id": "date",
          "label": "Blog date"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Blog description"
        },
        {
          "type": "text",
          "id": "link",
          "label": "Blog link"
        },
        {
          "type": "text",
          "id": "tag",
          "label": "Blog tag"
        }
      ]
    }
  ]
}
{% endschema %}
