{{ 'ug-nexode.css' | asset_url | stylesheet_tag }}
<div class="ug-nexode">
  <a href="{{ section.settings.link }}" class="ug-nexode-box">
    <img class="is-pc" src="{{ section.settings.pc_image | img_url: "1920x"  }}"/>
    <img class="is-mobile" src="{{ section.settings.mobile_image | img_url: "750x"  }}">

    <div class="ug-nexode-info">
      <div class="ug-nexode-title" style="color: {{ section.settings.color }}">{{ section.settings.title }}</div>
      <div class="ug-nexode-desc" style="color: {{ section.settings.color }}">{{ section.settings.desc }}</div>
      {% if section.settings.button_text != '' %}
      <div class="ug-nexode-btn">{{ section.settings.button_text }}</div>
      {% endif %}
    </div>
  </a>
</div>
{% schema %}
{
  "name": "ugreen nexode banner",
  "settings": [
    {
      "type": "url",
      "id": "link",
      "label": "link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "button"
    },
    {
      "type": "text",
      "id": "title",
      "label": "title"
    },
    {
      "type": "text",
      "id": "desc",
      "label": "desc"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "mobile image"
    },
    {
      "type": "image_picker",
      "id": "pc_image",
      "label": "pc image"
    },
    {
      "type": "text",
      "id": "color",
      "label": "text color"
    }
  ],
  "presets": [
    {
      "name": "ugreen nexode banner"
    }
  ],
  "templates": ["page"]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
