<div id="ug-scroll-3" class="ug-scroll ug-school">
  <div class="ug-school-less">
    <h3>Less than 12.99 USD </h3>
    <ul>
      {% for product in section.settings.collection.products %}
      <li>
        <a href="{{ product.url }}">
          <img  class="ug-school-product-main" src="{{ product.featured_media | img_url: "400x" }}"/>
          <div class="title">{{ product.title }}</div>
          <div class="price">{{ product.price | money }}</div>
        </a>
        <div class="variant-box">
          {%- for value in product.options_by_name['color'].values %}
            <div class="variant-border {% if forloop.index == 1 %} active {% endif %}">
              <span style="background-color: {{ value }}"></span>
              {% for variant in product.variants %}
                {% if variant.option1 == value %}
                  {% assign variant-image = variant.featured_media | img_url: "400x" %}
                {% endif %}
              {% endfor %}
              <img style="display: none" src="{{ variant-image }}"/>
            </div>
          {% endfor %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% schema %}
  {
    "name": "ugreen school less",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "ugreen school less"
      }
    ],
    "templates": ["page"]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
