{{ 'ug-school-buyone.css' | asset_url | stylesheet_tag }}
<div id="ug-scroll-2" class="ug-scroll ug-school-buyone-box">
  <h1>BOGO Event</h1>
  <small>Receive A Special Gift* from UGREEN with Your Purchase</small>
  <p class="warn">*Special Gift cannot be refunded.</p>
  <ul>
    {% for block in section.blocks %}
    <li>
      <div class="left">
        <img src="{{ block.settings.image | img_url: "400x" }}"/>
        <h4>{{ block.settings.left-title }}</h4>
        <p>{{ block.settings.left-price }}</p>
      </div>
      <div class="right">
        <p class="free">{{ block.settings.free }}</p>
        <p class="title">{{ block.settings.title }}</p>
        <p class="for">{{ block.settings.for }}</p>
        <span class="price">price：</span>
        <span class="sum">{{ block.settings.price }}</span>
        <div class="copy-box">
          <p class="code">Code:<span>{{ block.settings.discount }}</span></p>
          <button data-clipboard-text="{{ block.settings.discount }}">COPY</button>
        </div>
        <button data-product1="{{ block.settings.product1 }}" data-product2="{{ block.settings.product2 }}" class="act">Add to Cart</button>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<script>
  $(function () {
    $('.act').click(function () {
      let product1 = $(this).data('product1')
      let product2 = $(this).data('product2')
      let formData = {
        'items': [{
          'id': product1,
          'quantity': 1
        },
          {
            'id': product2,
            'quantity': 1
          }]
      };
      $.ajax({
        type: "POST",
        url: window.Shopify.routes.root + 'cart/add.js',
        data: formData,
        success: function (response) {
          window.location.href = 'https://www.ugreen.com/cart'
        }
      });
    })
  })
</script>
<div class="ug-school-work">
  <p class="title">How It Works:</p>
  <ul>
    <li>1. Select the product based on your phone/device.</li>
    <li>2. Use that promo code to purchase!</li>
    <li>3. A gift will be selected at random and sent with your purchase!</li>
    <li> Limit: One gift per purchase, per customer.</li>
  </ul>
</div>
{% schema %}
{
  "name": "ugreen school buyone",
  "settings": [],
  "blocks": [
    {
      "name": "product",
      "type": "product",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },
        {
          "type": "text",
          "id": "product1",
          "label": "Product1"
        },
        {
          "type": "text",
          "id": "product2",
          "label": "Product2"
        },
        {
          "type": "text",
          "id": "left-title",
          "label": "left title"
        },
        {
          "type": "text",
          "id": "left-price",
          "label": "left price"
        },
        {
          "type": "text",
          "id": "free",
          "label": "free text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "title text"
        },
        {
          "type": "text",
          "id": "for",
          "label": "for text"
        },
        {
          "type": "text",
          "id": "price",
          "label": "price text"
        },
        {
          "type": "text",
          "id": "discount",
          "label": "discount text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ugreen school buyone"
    }
  ],
  "templates": ["page"]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
