{{ 'AppleEvent.css' | asset_url | stylesheet_tag }}
<link
  rel="stylesheet"
  href="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/swiper-bundle.min_b4c60233-5e07-47dc-800a-583c16079d0b.css?v=1655275790"
>
<!-- Page Banner -->
<section class="page_banner">
  <img src="{{ section.settings.pc_image }}" class="banner_pc">
  <img src="{{ section.settings.mobile_image }}" class="banner_mol">
  <div class="banner_box">
    <h1>{{ section.settings.title }}</h1>
    <p>{{ section.settings.desc }}</p>
  </div>
</section>
<section class="apple_section_1">
  <div class="content">
    <div class="section_1_box">
      <h2>{{ section.settings.title_1 }}</h2>
      <h2>{{ section.settings.title_2 }}</h2>
      <div class="box_text">
        <p>{{ section.settings.text }}</p>
        <div></div>
      </div>
      <button>Learn More <span>&gt;</span></button>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "AppleEvent banner",
  "settings": [
    {
      "type": "url",
      "id": "pc_image",
      "label": "PC Banner URL"
    },
    {
      "type": "url",
      "id": "mobile_image",
      "label": "Mobile Banner URL"
    },
    {
    "type": "text",
    "id": "title",
    "label": "Banner Title"
  },
    {
    "type": "text",
    "id": "desc",
    "label": "Banner desc"
  },
    {
    "type": "text",
    "id": "title_1",
    "label": "Green title"
  },
    {
    "type": "text",
    "id": "title_2",
    "label": "white title"
  },
    {
    "type": "text",
    "id": "text",
    "label": "text"
  }
  ],
  "presets": [
  {
    "name": "AppleEvent banner"
  }
],
"templates": ["page"]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
