<!-- Limited-Time Offers -->
<div class="limited_products">
  <h2>{{ section.settings.limited_products_title }}</h2>
  <div class="limited_products_box">
    {% for product in section.settings.product_list %}
      <div class="limited_products_list">
        <div class="limited_products_list_box">
          <div class="product_img">
            <a href="{{ product.url }}">
              <img src="{{ product.featured_media | img_url: "400x" }}">
            </a>
          </div>
          <div class="product_title_pire">
            <a href="{{ product.url }}">
              <p class="product_title">{{ product.title }}</p>
              <div class="product_pire_review">
                {% assign compare_at_price = product.compare_at_price %}
                {% assign price = product.price %}
                {% assign showDiscountBar = compare_at_price | minus: price %}
                {% assign discountbar = product.metafields.custom.discountbar.value %}
                {% assign discount_sum = discountbar[0] %}
                {% assign discount_code = discountbar[1] %}
                {% assign discount_sumM = 100 | minus: discount_sum %}

                {% if showDiscountBar > 1 %}
                  <p class="product_prie">
                    {{ product.price | money }}
                    <span>{{ product.compare_at_price | money }}</span>
                  </p>
                  <div class="product_sale">
                    <p>
                      -{{ compare_at_price | minus: price | times: 100 | divided_by: compare_at_price }}
                      <span>%</span>
                    </p>
                  </div>
                {% else %}
                  <p class="product_prie">{{ product.price | money }}</p>
                {% endif %}
                <div class="product_review">
                  {%- render 'product-rating', product: product, app_review: '4' -%}
                </div>
              </div>
            </a>
          </div>
          <!--
            <div class="product_code">
              <p>Code: {{ discount_code }}</p>
              <button data-ug-copy-data="{{ discount_code }}" class="copy-btn">Copy</button>
            </div>
          -->
          <div class="product_buy">
            <a
              href="{{ product.url }}"
              class="t4s-pr-item-btn t4s-pr-addtocart buy_now"
              data-variant-id="{{product.variants.first.id}}"
              data-action-atc
              rel="nofollow"
              >Buy Now</a
            >
            <a href="{{ product.url }}" class="learn_more">Learn more</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<!-- UP To 30% Off -->

{% schema %}
{
  "name": "WeeklySale product list",
  "settings": [
    {
      "type": "text",
      "id": "limited_products_title",
      "label": "Title"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Limited-Time Offers",
      "limit": 50
    }
  ],
  "presets": [
    {
      "name": "WeeklySale product list"
    }
  ],
  "templates": [
    "page"
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
