<style>
  .gifts_product {
      padding: 3.125vw 0 3.125vw 0;
      background: #F5F5F7;
  }

  .gifts_product .content {
      width: 100%;
      max-width: 66.667vw;
      margin: 0 auto;
  }

  .gifts_product .svg_title {
      text-align: center;
  }

  .gifts_product .svg_title svg {
      display: inline-block;
      width: 40px;
      height: 30px;
  }

  .gifts_product .svg_title h2 {
      font-weight: 700;
      font-size: 1.875vw;
      line-height: 1.875vw;
      color: #000000;
      padding: 0.677vw 0 1.042vw 0;
  }

  .gifts_product .svg_title p {
      font-size: 1.042vw;
      line-height: 1.042vw;
      color: #666666;
      margin: 0 0 2.083vw 0;
  }

  .gifts_product_list div:nth-child(even) .left {
      order: 1;
  }

  .gifts_product .gifts_product_list .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #FFFFFF;
      box-shadow: 0vw 0.417vw 1.042vw rgba(0, 0, 0, 0.08);
      border-radius: 0.625vw;
      margin:0.260vw 0 1.458vw 0;
  }

  .gifts_product .gifts_product_list .item .left {
      max-width: 36.458vw;
      position: relative;
      padding: 2.083vw;
  }

  .gifts_product .gifts_product_list .item .left .product_sale {
      position: absolute;
      top: -0.208vw;
      max-width: 3.854vw;
      left: 1.146vw;
  }

  .gifts_product .gifts_product_list .item .left .product_sale p {
      position: absolute;
      top: 40%;
      left: 50%;
      font-weight: 500;
      font-size: 0.9375vw;
      line-height: 1.25vw;
      margin: 0;
      color: #FFFFFF;
      margin: 0;
    transform: translate(-50%, -50%);
  }

  .gifts_product .gifts_product_list .item .left .product_sale p span {
      font-size: 12px;
      font-weight: 400;
  }

  .gifts_product .gifts_product_list .item .right {
      padding: 0 2.083vw;
      max-width: 29.6875vw;
    width:100%;
  }

  .gifts_product .gifts_product_list .item .right>span {
      display: inline-block;
      font-size: 0.729vw;
      line-height: 0.625vw;
      color: #FF900E;
      padding: 0.46875vw 0.573vw;
      background: #FFF2BF;
      border-radius: 0.15625vw;
      margin-bottom: 0.417vw;
  }

  .gifts_product .gifts_product_list .item .right>p {
      font-size: 1.042vw;
      line-height: 1.5625vw;
      color: #666666;
      height: 3.021vw;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin: 0;
  }

  .gifts_product .gifts_product_list .item .right .pice_review {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1.458vw 0 2.083vw 0;
  }

  .gifts_product .gifts_product_list .item .right .pice_review p {
      font-weight: 600;
      font-size: 1.458vw;
      line-height: 1.458vw;
      color: #000000;
      margin: 0;
  }

  .gifts_product .gifts_product_list .item .right .pice_review p span {
      font-size: 0.833vw;
      line-height: 0.833vw;
      color: #999999;
      text-decoration-line: line-through;
      padding-left: 0.417vw;
  }

  .gifts_product .gifts_product_list .item .right .buy_leam {
      display: flex;
      align-items: self-end;
      justify-content: space-between;
      width: 100%;
      gap: 2%;
  }

  .gifts_product .gifts_product_list .item .right .buy_leam a {
      flex: 1;
      color: #fff;
      font-size: 0.833vw;
      line-height: 1.25vw;
      font-weight: 600;
      border-radius: 3.125vw;
      background: #000;
      text-align: center;
      padding: 0.521vw 0;
      transition: 0.3s;
      border: 0.052vw solid #000;
  }

  .gifts_product .gifts_product_list .item .right .buy_leam a:last-child {
      color: #000;
      background: #FFFFFF;
  }

  .gifts_product .gifts_product_list .item .right .buy_leam a:hover {
      color: #fff;
      background: #00CC88;
      border: 0.052vw solid #00CC88;
  }
  .gifts_product .swiper-pagination-bullet{
      width: 3.177vw;
      height: 0.208vw;
      background: #999999;
      opacity: 0.4;
      border-radius: 0;
  }
  .gifts_product .swiper-pagination-bullet-active{
      opacity: 1;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: 0;}
  @media (max-width:768px) {
      .gifts_product {
          padding: 8vw 0;
      }
      .gifts_product .content{
          max-width: 100%;
      }
      .gifts_product .svg_title {
          padding: 0 4vw;
      }

      .gifts_product .svg_title h2 {
          font-size: 6.4vw;
          line-height: 8vw;
          padding: 2.667vw 0;
      }

      .gifts_product .svg_title p {
          font-size: 4.267vw;
          line-height: 6.4vw;
          margin-bottom: 8vw;
      }

      .gifts_product .gifts_product_list .item {
          flex-direction: column;
          box-shadow: 0vw 1.067vw 5.333vw rgba(0, 0, 0, 0.08);
          border-radius: 3.2vw;
          margin: 1.333vw 4vw 7.467vw 4vw;
      }

      .gifts_product .gifts_product_list .item .left {
          padding: 5.333vw 12vw;
          max-width: 100%;
      }

      .gifts_product .gifts_product_list .item .left .product_sale {
          top: -0.8vw;
          max-width: 13.867vw;
          left: 2.667vw;
      }

      .gifts_product .gifts_product_list .item .left .product_sale p {
          font-size: 4.267vw;
          line-height: 4.267vw;
      }

      .gifts_product .gifts_product_list .item .right {
          padding: 2.133vw 5.333vw 5.333vw 5.333vw;
          order: 2;
          max-width: 100%;
      }

      .gifts_product .gifts_product_list .item .right>span {
           font-size: 12px;
          line-height: 12px;
          padding: 1.6vw 2.133vw;
          border-radius: 0.8vw;
          margin-bottom: 2.133vw;
      }

      .gifts_product .gifts_product_list .item .right>p {
          font-size: 3.733vw;
          line-height: 5.333vw;
          height: 10.667vw;
      }

      .gifts_product .gifts_product_list .item .right .pice_review {
          margin: 5.333vw 0 7.467vw 0;
      }

      .gifts_product .gifts_product_list .item .right .pice_review p {
          font-size: 5.333vw;
          line-height: 4.8vw;
      }

      .gifts_product .gifts_product_list .item .right .pice_review p span {
          font-size: 3.733vw;
          line-height: 4.533vw;
          padding-left: 2.133vw;
      }

      .gifts_product .gifts_product_list .item .right .buy_leam a {
          font-size: 3.733vw;
          line-height: 3.733vw;
          padding: 2.667vw 0;
          border-radius: 16vw;
      }
      .gifts_product .swiper-pagination-bullet{
          width: 16.267vw;
          height: 1.067vw;
      }
  }
</style>
{% liquid
  assign section_title = section.settings.section_title
  assign sub_title = section.settings.sub_title
  assign svg_name = section.settings.svg_name
  assign blocks = section.blocks
%}
<section class="gifts_product">
  <div class="content">
    <div class="svg_title">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#{{ svg_name }}"></use>
      </svg>
      <h2>{{ section_title }}</h2>
      <p>{{ sub_title }}</p>
    </div>
    <div class="gifts_swiper swiper">
      <div class="swiper-wrapper">
        {% for block in blocks %}
          {% assign product1 = block.settings.product1 %}
          {% assign product_img1 = block.settings.product_img1 %}
          {% assign product2 = block.settings.product2 %}
          {% assign product_img2 = block.settings.product_img2 %}
          <div class="gifts_product_list swiper-slide">
            {% if product1 != blank %}
              {% assign compare_at_price1 = product1.compare_at_price %}
              {% assign price1 = product1.price %}
              <div class="item">
                <div class="left">
                  <img src="{{ product_img1 }}" alt="">
                  <div class="product_sale">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/tag_pc_e0131dd4-478f-400d-af1b-e8a767edcba5.png?v=1680255000"
                      alt=""
                    >
                    <p>
                      {{
                        compare_at_price1
                        | minus: price1
                        | times: 100
                        | divided_by: compare_at_price1
                        | prepend: '-'
                      -}}
                      <span>%</span>
                    </p>
                  </div>
                </div>
                <div class="right">
                  <span>Bundle Offer</span>
                  <p>{{ product1.title }}</p>
                  <div class="pice_review">
                    <p class="font-lato">
                      {{ product1.price | money }}
                      <span>{{ product1.compare_at_price | money }}</span>
                    </p>
                    <div>{%- render 'product-rating', product: product1, app_review: '4' -%}</div>
                  </div>
                  <div class="buy_leam">
                    <a
                      href="{{ product1.url }}"
                      class="t4s-pr-item-btn t4s-pr-addtocart buy_now ug-day-point-product-item-info-btn"
                      data-variant-id="{{ product1.variants.first.id }}"
                      data-action-atc
                      rel="nofollow"
                      >Buy Now</a
                    >
                    <a
                      href="{{ product1.url }}"
                      class="t4s-pr-item-btn t4s-pr-addtocart buy_now ug-day-point-product-item-info-btn"
                      data-variant-id="{{ product1.variants.first.id }}"
                      data-action-atc
                      rel="nofollow"
                      >Add to Cart</a
                    >
                  </div>
                </div>
              </div>
            {% endif %}
            {% if product2 != blank %}
              {% assign compare_at_price2 = product2.compare_at_price %}
              {% assign price2 = product2.price %}
              <div class="item">
                <div class="left">
                  <img src="{{ product_img2 }}" alt="">
                  <div class="product_sale">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/tag_pc_e0131dd4-478f-400d-af1b-e8a767edcba5.png?v=1680255000"
                      alt=""
                    >
                    <p>
                      {{
                        compare_at_price2
                        | minus: price2
                        | times: 100
                        | divided_by: compare_at_price2
                        | prepend: '-'
                      -}}
                      <span>%</span>
                    </p>
                  </div>
                </div>
                <div class="right">
                  <span>Bundle Offer</span>
                  <p>{{ product2.title }}</p>
                  <div class="pice_review">
                    <p class="font-lato">
                      {{ product2.price | money }}
                      <span>{{ product2.compare_at_price | money }}</span>
                    </p>
                    <div>{%- render 'product-rating', product: product2, app_review: '4' -%}</div>
                  </div>
                  <div class="buy_leam">
                    <a
                      href="{{ product2.url }}"
                      class="t4s-pr-item-btn t4s-pr-addtocart buy_now ug-day-point-product-item-info-btn"
                      data-variant-id="{{ product2.variants.first.id }}"
                      data-action-atc
                      rel="nofollow"
                      >Buy Now</a
                    >
                    <a
                      href="{{ product2.url }}"
                      class="t4s-pr-item-btn t4s-pr-addtocart buy_now ug-day-point-product-item-info-btn"
                      data-variant-id="{{ product2.variants.first.id }}"
                      data-action-atc
                      rel="nofollow"
                      >Add to Cart</a
                    >
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<script type="text/javascript">
  const GiftsSwiper = new Swiper('.gifts_swiper', {
      slidesPerView: 1,
      spaceBetween: 20,
      speed: 1000,
      loop: true,
      pagination: {
          el: ".swiper-pagination",
      },
      autoplay: {
          delay: 5000,
      },
      });
</script>

{% schema %}
{
  "name": "Ugreen Day Gifts",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "区域标题",
      "default": "High-Tech Bundle Gifts"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "区域副标题",
      "default": "Buy a GaN Charger, Get a Cable Free"
    },
    {
      "type": "text",
      "id": "svg_name",
      "label": "SVG name",
      "default": "icon-a-11"
    }
  ],
  "blocks": [
    {
      "name": "product item",
      "type": "ugreenday_gifts",
      "settings": [
        {
          "type": "product",
          "id": "product1",
          "label": "第一个产品"
        },
        {
          "type": "url",
          "id": "product_img1",
          "label": "产品图片"
        },
        {
          "type": "product",
          "id": "product2",
          "label": "第二个产品"
        },
        {
          "type": "url",
          "id": "product_img2",
          "label": "产品图片"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ugreen Day Gifts"
    }
  ]
}
{% endschema %}
