{{ 'ug-school.css' | asset_url | stylesheet_tag }}
<div class="ug-school">
    <div class="ug-school-banner">
        <div class="ug-school-banner-box">
            <div class="ug-school-banner-off">Up to 40% off</div>
            <div class="ug-school-banner-title">Back to School Sale</div>
            <div class="ug-school-banner-desc">Get Fully Equipped for The School Year</div>
            <div class="ug-school-banner-time">
                <span>TIME</span>Aug 1 - Sep 15
            </div>
        </div>
    </div>
    <div class="ug-school-tabs">
        <a href="#" class="active">Essentials for Every Student</a>
        <a href="#">Buy One Get Free</a>
        <a href="#">Less than 12.99 USD </a>
    </div>
    <div class="ug-school-title">Essentials for you</div>
    {% comment %}charger{% endcomment %}
    <ul class="ug-school-product-list">
        <li class="ug-school-product-charger">
            <div class="ug-school-product-charger-box">
                <div class="ug-school-product-charger-title">Charger</div>
                <div class="ug-school-product-charger-desc">Power Your Devices on the Go</div>
                <img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/70898.png?v=1659074444"/>
            </div>
        </li>
        {% for collection in collections %}
            {% if collection.handle == 'charger' %}
                {% for product in collection.products %}
                    {% for product-tag in product.tags %}
                        {% if product-tag == 'school-charger' %}
                            <li>
                                <a href="{{ product.url }}">
                                    <img src="{{ product.featured_media | img_url: "400x" }}"/>
                                    <div class="ug-school-product-discount">20% OFF</div>
                                    <h3>{{ product.title }}</h3>
                                </a>
                                <p>{{ product.price | money }}</p>
                                <div class="ug-school-product-variant">
                                    {% for variant in product.variants %}
                                        <span class="variant-border">
                                            <span class="variant-color" style="background-color: {{ variant.options }}"></span>
                                        </span>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <a class="ug-school-more" href="https://www.ugreen.com/collections/charger">More Charger Deals ></a>
    </ul>
    {% comment %}hubs{% endcomment %}
    <ul class="ug-school-product-list">
        <li class="ug-school-product-charger">
            <div class="ug-school-product-charger-box">
                <div class="ug-school-product-charger-title">Charger</div>
                <div class="ug-school-product-charger-desc">Power Your Devices on the Go</div>
                <img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/70898.png?v=1659074444"/>
            </div>
        </li>
        {% for collection in collections %}
            {% if collection.handle == 'hubs-and-adapters' %}
                {% for product in collection.products %}
                    {% for product-tag in product.tags %}
                        {% if product-tag == 'school-hubs' %}
                            <li>
                                <a href="{{ product.url }}">
                                    <img src="{{ product.featured_media | img_url: "400x" }}"/>
                                    <div class="ug-school-product-discount">20% OFF</div>
                                    <h3>{{ product.title }}</h3>
                                </a>
                                <p>{{ product.price | money }}</p>
                                <div class="ug-school-product-variant">
                                    {% for variant in product.variants %}
                                        <span class="variant-border">
                                            <span class="variant-color" style="background-color: {{ variant.options }}"></span>
                                        </span>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <a class="ug-school-more" href="https://www.ugreen.com/collections/charger">More Charger Deals ></a>
    </ul>
    {% comment %}stand{% endcomment %}
    <ul class="ug-school-product-list">
        <li class="ug-school-product-charger">
            <div class="ug-school-product-charger-box">
                <div class="ug-school-product-charger-title">Charger</div>
                <div class="ug-school-product-charger-desc">Power Your Devices on the Go</div>
                <img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/70898.png?v=1659074444"/>
            </div>
        </li>
        {% for collection in collections %}
            {% if collection.handle == 'holder-protectors' %}
                {% for product in collection.products %}
                    {% for product-tag in product.tags %}
                        {% if product-tag == 'school-stand' %}
                            <li>
                                <a href="{{ product.url }}">
                                    <img class="ug-school-product-main" alt=""
                                         src="{{ product.featured_media | img_url: "400x" }}"/>
                                    <div class="ug-school-product-discount">20% OFF</div>
                                    <h3>{{ product.title }}</h3>
                                </a>
                                <p>{{ product.price | money }}</p>
                                <div class="ug-school-product-variant">
                                    {% comment %}{{product.variants.size}}{% endcomment %}
                                    {% if product.varints.size == 1 %}
                                        <span class="variant-border">
                                            <span class="variant-color" style="background-color: {{ variant.options }}"></span>
                                            <img style="display: none"
                                                 src="{{ variant.featured_media | img_url: "400x" }}"/>
                                        </span>
                                    {% else %}
                                        {% for variant in product.variants %}
                                            <span class="variant-border">
                                            <span class="variant-color" style="background-color: {{ variant.options }}"></span>
                                            <img style="display: none"
                                                 src="{{ variant.featured_media | img_url: "400x" }}"/>
                                            </span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <a class="ug-school-more" href="https://www.ugreen.com/collections/charger">More Charger Deals ></a>
    </ul>
    {% comment %}deal{% endcomment %}
    <ul class="ug-school-product-list">
        <li class="ug-school-product-charger">
            <div class="ug-school-product-charger-box">
                <div class="ug-school-product-charger-title">Charger</div>
                <div class="ug-school-product-charger-desc">Power Your Devices on the Go</div>
                <img src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/70898.png?v=1659074444"/>
            </div>
        </li>
        {% for collection in collections %}
            {% if collection.handle == 'back-to-school-more-deals' %}
                {% for product in collection.products %}
                    {% for product-tag in product.tags %}
                        {% if product-tag == 'school-deals' %}
                            <li>
                                <a href="{{ product.url }}">
                                    <img class="ug-school-product-main" alt=""
                                         src="{{ product.featured_media | img_url: "400x" }}"/>
                                    <div class="ug-school-product-discount">20% OFF</div>
                                    <h3>{{ product.title }}</h3>
                                </a>
                                <p>{{ product.price | money }}</p>
                                <div class="ug-school-product-variant">
                                    {% comment %}{{product.variants.size}}{% endcomment %}
                                    {% if product.varints.size == 1 %}
                                        <span class="variant-border">
                                            <span class="variant-color" style="background-color: {{ variant.options }}"></span>
                                            <img style="display: none"
                                                 src="{{ variant.featured_media | img_url: "400x" }}"/>
                                        </span>
                                    {% else %}
                                        {% for variant in product.variants %}
                                            <span class="variant-border">
                                            <span class="variant-color" style="background-color: {{ variant.options }}"></span>
                                            <img style="display: none"
                                                 src="{{ variant.featured_media | img_url: "400x" }}"/>
                                            </span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <a class="ug-school-more" href="https://www.ugreen.com/collections/charger">More Charger Deals ></a>
    </ul>
</div>
<script>
    $(function () {
        $('.variant-border').click(function () {
            var variantImg = $(this).children('img').attr('src')
            $(this).parents('li').find('.ug-school-product-main').attr('src', variantImg)
        })
    })
</script>
